{% extends 'parent/base.html' %}
{% load poll_extras %}
{% block title %}{% endblock %}
{% block content %}


    <!-- start main-data -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="line-step-container d-sm-block d-none">
                    <div class="line-step">
                        <div class="line-step-boxs">
                            <div class="line-step-box complete">
                                <a href="cart.html">
                                    <div class="icon">
                                        <i class="bi bi-bag"></i>
                                    </div>
                                    <p>سبد خرید</p>
                                </a>
                            </div>
                            <div class="line-step-box disabled">
                                <a href="checkout.html">
                                    <div class="icon">
                                        <i class="bi bi-file-earmark-text"></i>
                                    </div>
                                    <p>جزییات پرداخت</p>
                                </a>
                            </div>
                            <div class="line-step-box disabled">
                                <a href="cart.html">
                                    <div class="icon">
                                        <i class="bi bi-file-earmark-break"></i>
                                    </div>
                                    <p>تکمیل سفارش</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 response">
                    <div class="product-box-item bg-white w-100">
                                                <div class="hover">
                                                    <div class="hover-btn">
                                                        <a href="#productModal" onclick="showProduct(3)" data-hint="مشاهده سریع" class="hint--right" data-bs-toggle="modal" data-bs-target="#productModal"><i class="bi bi-eye"></i></a>
                                                    </div>
                                                </div>
                                                <a href="/product/detail/i7-12700/">
                                                    <div class="image col-lg-3">
                                                        <img src="https://storage.c2.liara.space/akurtek/product/product_images/fbc02084f7825ea9293ec4d6c07baaed911c4da2_1652879908.webp?AWSAccessKeyId=s7mtd3ecb1safiaq&amp;Signature=H81Sh8f%2FNo1rdJo43Z3kVt3Dxk0%3D&amp;Expires=1725040668" alt="i7 12700" class="img-fluid one-image">
                                                        <img src="https://storage.c2.liara.space/akurtek/product/product_images/fbc02084f7825ea9293ec4d6c07baaed911c4da2_1652879908.webp?AWSAccessKeyId=s7mtd3ecb1safiaq&amp;Signature=H81Sh8f%2FNo1rdJo43Z3kVt3Dxk0%3D&amp;Expires=1725040668" alt="i7 12700" class="img-fluid two-image">
                                                    </div>
                                                    <div class="desc">
                                                        <div class="title">
                                                            <h6 class="title-fa def-color fw-bold text-overflow-2">
                                                                i7 12700
                                                            </h6>

                                                        </div>
                                                        <div class="foot d-flex justify-content-between align-items-center">
                                                            <div class="d-flex align-items-center justify-content-center">
                                                                <div class="add" data-hint="افزودن به سبد خرید">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                                                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"></path>
                                                                    </svg>
                                                                </div>

                                                            </div>
                                                            <div class="price d-flex flex-column justify-content-end">
                                                                <div>
                                                                        <span class="fw-bold font-18 def-color">14,700,000</span>
                                                                    <span class="badge main-color-two-bg rounded-pill">2%</span>
                                                                </div>
                                                                <div class="d-flex justify-content-center align-items-center">
                                                                        <span class="text-muted font-14 text-decoration-line-through">15,000,000</span>
                                                                    <span class="text-muted font-14 ms-2">تومان</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                        <div class="cart-detail">
                            <div class="responsive-table">
                                <table class="table main-table table-borderless">
                                    <thead>
                                        <tr class="col-lg-3">
                                            <th></th>
                                            <th></th>
                                            <th>محصول</th>
                                            <th>قیمت</th>
                                            <th>قیمت بعد از تخفیف</th>
                                            <th>تعداد</th>
                                            <th>قیمت کل</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in bucket_products %}
                                        <tr class="col-lg">
                                            <td class="col-lg-1"><a onclick="deleteProductUser({{ product.product.id }})" data-hint="حذف محصول از سبد خرید" class="hint--left"><i
                                                        class="bi bi-x-circle-fill"></i></a></td>
                                            <td class="col-lg-1"><a href="{{ product.product.get_absolute_url }}"><img src="{{ product.product.image.url }}" width="60" class="" alt="{{ product.product.title }}"></a>
                                            </td>
                                            <td class="title col-lg-1">{{ product.product.title | truncatewords:10 }}</td>
                                            <td class="col-lg-1"><span class="num">{{ product.product.price | money_format }}</span><span
                                                    class="text-muted font-10"> تومان </span></td>
                                            <td class="col-lg-1"><span class="num">{{ product.product.price_after_off | money_format }}</span><span
                                                    class="text-muted font-10"> تومان </span></td>
                                            <td class="counter col-lg-1"><input onchange="changeNumBucket({{ product.product.id }})" name="count"
                                                   id="product-count-{{ product.product.id }}" type="text"
                                                   value="{{ product.num }}"></td>
                                            <td class="col-lg-1"><span class="num"></span><span
                                                    class="text-muted font-10">تومان</span></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="cart-payment mt-lg-0 mt-3">
                            <div class="title text-center">
                                <h4 class="slider-title fw-900 def-color mb-3">مجموع کل سبد خرید</h4>
                            </div>
                            <table class="table main-table text-center">
                                <tr>
                                    <td class="fw-bold">قیمت کل</td>
                                    <td><span id="bucket_total_price" class="fw-bold">{{ total_price | money_format }}</span> <span
                                            class="text-muted font-10">تومان</span></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">تخفیف</td>
                                    <td><span class="fw-bold">{{ off | money_format }}</span> <span
                                            class="text-muted font-10">تومان</span></td>
                                </tr>
                                <tr>
                                    <td class="fw-bold">قیمت بعد از تخفیف</td>
                                    <td><span class="fw-bold">{{ total_price_after_off | money_format }}</span> <span
                                            class="text-muted font-10">تومان</span></td>
                                </tr>

                            </table>
                            <form action="">
                                <button
                                    class="btn mt-3 w-100 py-3 border-0 main-color-one-bg waves-effect waves-light">اقدام
                                    به پرداخت
                                    <i class="bi bi-bank2"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main-data -->


{% endblock %}