{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!-- start main-data -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <style>
                    .line-step-box.complete:nth-child(1):before {
                        width: 100%;
                    }

                    .line-step-box.complete:nth-child(2):before {
                        width: 100%;
                    }

                    .line-step-box.complete:nth-child(3):before {
                        width: 100%;
                    }
                </style>
                <div class="line-step-container d-sm-block d-none">
                    <div class="line-step">
                        <div class="line-step-boxs">
                            <div class="line-step-box complete">
                                <a href="cart.html">
                                    <div class="icon">
                                        <i class="bi bi-bag"></i>
                                    </div>
                                    <p>سبد خرید</p>
                                </a>
                            </div>
                            <div class="line-step-box complete">
                                <a href="checkout.html">
                                    <div class="icon">
                                        <i class="bi bi-file-earmark-text"></i>
                                    </div>
                                    <p>جزییات پرداخت</p>
                                </a>
                            </div>
                            <div class="line-step-box complete">
                                <a href="cart.html">
                                    <div class="icon">
                                        <i class="bi bi-file-earmark-break"></i>
                                    </div>
                                    <p>تکمیل سفارش <i class="font-18 bi bi-check-circle main-color-three-color"></i></p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- start payment content -->
                <div class="payment-content py-20">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="alert-box ab-success">
                                <div class="title">
                                    <h5 class="h5">پرداخت موفق!</h5>
                                </div>
                                <div class="desc">
                                    <p class="text-muted font-14">تشکر از شما کاربر گرامی پرداخت شما موفق بود ، محصول
                                        مورد نظر به زودی برای شما ارسال میشود</p>
                                </div>
                                <div class="action d-sm-block d-grid gap-2">
                                    <a href="" class="btn border-0 rounded-pill main-color-three-bg">بازگشت به صفحه
                                        اصلی</a>
                                    <a href="" class="btn border-0 rounded-pill main-color-one-bg">پنل کاربری</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end payment content -->

            </div>
        </div>
    </div>
    <!-- end main-data -->
{% endblock %}