<aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">وان دش</h4>
            </div>
            <div class="toggle-icon ms-auto"> <i class="bi bi-list"></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'panel:index' %}" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-house-fill"></i>
                    </div>
                    <div class="menu-title">داشبورد</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                    </div>
                    <div class="menu-title">مدیریت ظاهر سایت</div>
                </a>
                <ul>
                    <li> <a href="app-emailbox.html"><i class="bi bi-circle"></i>جزييات</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                    </div>
                    <div class="menu-title">کاربرد</div>
                </a>
                <ul>
                    <li> <a href="https://mail.google.com/mail/u/0/?pli=1#inbox"><i class="bi bi-circle"></i>پست الکترونیک</a>
                    </li>
                    <li> <a href="app-chat-box.html"><i class="bi bi-circle"></i>جعبه چت</a>
                    </li>
                    <li> <a href="https://panel.arvancloud.ir/"><i class="bi bi-circle"></i>آروان کلود</a>
                    </li>
                    <li> <a href="{% url 'panel:daily_works' %}"><i class="bi bi-circle"></i>لیست برای انجام کار</a>
                    </li>
                    <li> <a href="app-invoice.html"><i class="bi bi-circle"></i>صورتحساب</a>
                    </li>
                    <li> <a href="app-fullcalender.html"><i class="bi bi-circle"></i>تقویم</a>
                    </li>
                </ul>
            </li>
            <li class="menu-label">عناصر رابط کاربری</li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-droplet-fill"></i>
                    </div>
                    <div class="menu-title">ابزارک ها</div>
                </a>
                <ul>
                    <li> <a href="widgets-static-widgets.html"><i class="bi bi-circle"></i>ویجت های ایستا</a>
                    </li>
                    <li> <a href="widgets-data-widgets.html"><i class="bi bi-circle"></i>ابزارک های داده</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-basket2-fill"></i>
                    </div>
                    <div class="menu-title">تجارت الکترونیک</div>
                </a>
                <ul>
                    <li> <a href="ecommerce-products-list.html"><i class="bi bi-circle"></i>لیست محصولات</a>
                    </li>
                    <li> <a href="ecommerce-products-grid.html"><i class="bi bi-circle"></i>شبکه محصولات</a>
                    </li>
                    <li> <a href="ecommerce-products-categories.html"><i class="bi bi-circle"></i>دسته بندی ها</a>
                    </li>
                    <li> <a href="ecommerce-orders.html"><i class="bi bi-circle"></i>سفارشات</a>
                    </li>
                    <li> <a href="ecommerce-orders-detail.html"><i class="bi bi-circle"></i>جزئیات سفارش</a>
                    </li>
                    <li> <a href="ecommerce-add-new-product.html"><i class="bi bi-circle"></i>افزودن محصول جدید</a>
                    </li>
                    <li> <a href="ecommerce-add-new-product-2.html"><i class="bi bi-circle"></i>افزودن محصول جدید 2</a>
                    </li>
                    <li> <a href="ecommerce-transactions.html"><i class="bi bi-circle"></i>معاملات</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-award-fill"></i>
                    </div>
                    <div class="menu-title">اجزاء</div>
                </a>
                <ul>
                    <li> <a href="component-alerts.html"><i class="bi bi-circle"></i>هشدارها</a>
                    </li>
                    <li> <a href="component-accordions.html"><i class="bi bi-circle"></i>آکاردئون</a>
                    </li>
                    <li> <a href="component-badges.html"><i class="bi bi-circle"></i>نشان ها</a>
                    </li>
                    <li> <a href="component-buttons.html"><i class="bi bi-circle"></i>دکمه ها</a>
                    </li>
                    <li> <a href="component-cards.html"><i class="bi bi-circle"></i>کارت ها</a>
                    </li>
                    <li> <a href="component-carousels.html"><i class="bi bi-circle"></i>چرخ فلک ها</a>
                    </li>
                    <li> <a href="component-list-groups.html"><i class="bi bi-circle"></i>لیست گروه ها</a>
                    </li>
                    <li> <a href="component-media-object.html"><i class="bi bi-circle"></i>اشیاء رسانه ای</a>
                    </li>
                    <li> <a href="component-modals.html"><i class="bi bi-circle"></i>مدال ها</a>
                    </li>
                    <li> <a href="component-navs-tabs.html"><i class="bi bi-circle"></i>زبانه ها</a>
                    </li>
                    <li> <a href="component-navbar.html"><i class="bi bi-circle"></i>نوار ناوبری</a>
                    </li>
                    <li> <a href="component-paginations.html"><i class="bi bi-circle"></i>صفحه بندی</a>
                    </li>
                    <li> <a href="component-popovers-tooltips.html"><i class="bi bi-circle"></i>پاپاورها و نکات ابزار</a>
                    </li>
                    <li> <a href="component-progress-bars.html"><i class="bi bi-circle"></i>پیش رفتن</a>
                    </li>
                    <li> <a href="component-spinners.html"><i class="bi bi-circle"></i>اسپینرها</a>
                    </li>
                    <li> <a href="component-notifications.html"><i class="bi bi-circle"></i>اطلاعیه</a>
                    </li>
                    <li> <a href="component-avtars-chips.html"><i class="bi bi-circle"></i>آواترها و تراشه ها</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-cloud-arrow-down-fill"></i>
                    </div>
                    <div class="menu-title">نمادها</div>
                </a>
                <ul>
                    <li> <a href="icons-line-icons.html"><i class="bi bi-circle"></i>نمادهای خط</a>
                    </li>
                    <li> <a href="icons-boxicons.html"><i class="bi bi-circle"></i>جعبه ها</a>
                    </li>
                    <li> <a href="icons-feather-icons.html"><i class="bi bi-circle"></i>نمادهای پر</a>
                    </li>
                </ul>
            </li>
            <li class="menu-label">فرم ها و جداول</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-file-earmark-break-fill"></i>
                    </div>
                    <div class="menu-title">فرم ها</div>
                </a>
                <ul>
                    <li> <a href="form-elements.html"><i class="bi bi-circle"></i>عناصر فرم</a>
                    </li>
                    <li> <a href="form-input-group.html"><i class="bi bi-circle"></i>گروه های ورودی</a>
                    </li>
                    <li> <a href="form-layouts.html"><i class="bi bi-circle"></i>طرح بندی فرم ها</a>
                    </li>
                    <li> <a href="form-validations.html"><i class="bi bi-circle"></i>اعتبار سنجی فرم</a>
                    </li>
                    <li> <a href="form-date-time-pickes.html"><i class="bi bi-circle"></i>انتخاب کنندگان تاریخ</a>
                    </li>
                    <li> <a href="form-select2.html"><i class="bi bi-circle"></i>انتخاب کنید2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-file-earmark-spreadsheet-fill"></i>
                    </div>
                    <div class="menu-title">جداول</div>
                </a>
                <ul>
                    <li> <a href="table-basic-table.html"><i class="bi bi-circle"></i>جدول پایه</a>
                    </li>
                    <li> <a href="table-advance-tables.html"><i class="bi bi-circle"></i>جداول پیشرفته</a>
                    </li>
                    <li> <a href="table-datatable.html"><i class="bi bi-circle"></i>جدول داده</a>
                    </li>
                </ul>
            </li>
            <li class="menu-label">صفحات</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-lock-fill"></i>
                    </div>
                    <div class="menu-title">احراز هویت</div>
                </a>
                <ul>
                    <li> <a href="authentication-signin.html" target="_blank"><i class="bi bi-circle"></i>ورود</a>
                    </li>
                    <li> <a href="authentication-signup.html" target="_blank"><i class="bi bi-circle"></i>ثبت نام</a>
                    </li>
                    <li> <a href="authentication-signin-with-header-footer.html" target="_blank"><i class="bi bi-circle"></i>با سربرگ و پاورقی وارد شوید</a>
                    </li>
                    <li> <a href="authentication-signup-with-header-footer.html" target="_blank"><i class="bi bi-circle"></i>با هدر و فوتر ثبت نام کنید</a>
                    </li>
                    <li> <a href="authentication-forgot-password.html" target="_blank"><i class="bi bi-circle"></i>رمز عبور را فراموش کرده اید</a>
                    </li>
                    <li> <a href="authentication-reset-password.html" target="_blank"><i class="bi bi-circle"></i>بازنشانی رمز عبور</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="pages-user-profile.html">
                    <div class="parent-icon"><i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="menu-title">مشخصات کاربر</div>
                </a>
            </li>
            <li>
                <a href="pages-timeline.html">
                    <div class="parent-icon"><i class="bi bi-collection-play-fill"></i>
                    </div>
                    <div class="menu-title">جدول زمانی</div>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-exclamation-triangle-fill"></i>
                    </div>
                    <div class="menu-title">خطاها</div>
                </a>
                <ul>
                    <li> <a href="pages-errors-404-error.html" target="_blank"><i class="bi bi-circle"></i>خطای 404</a>
                    </li>
                    <li> <a href="pages-errors-500-error.html" target="_blank"><i class="bi bi-circle"></i>خطای 500</a>
                    </li>
                    <li> <a href="pages-errors-coming-soon.html" target="_blank"><i class="bi bi-circle"></i>به زودی</a>
                    </li>
                    <li> <a href="pages-blank-page.html" target="_blank"><i class="bi bi-circle"></i>صفحه خالی</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="pages-faq.html">
                    <div class="parent-icon"><i class="bi bi-question-lg"></i>
                    </div>
                    <div class="menu-title">سوالات متداول</div>
                </a>
            </li>
            <li>
                <a href="pages-pricing-tables.html">
                    <div class="parent-icon"><i class="bi bi-tags-fill"></i>
                    </div>
                    <div class="menu-title">جداول قیمت گذاری</div>
                </a>
            </li>
            <li class="menu-label">نمودارها و نقشه ها</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-bar-chart-line-fill"></i>
                    </div>
                    <div class="menu-title">نمودار</div>
                </a>
                <ul>
                    <li> <a href="charts-apex-chart.html"><i class="bi bi-circle"></i>اوج</a>
                    </li>
                    <li> <a href="charts-chartjs.html"><i class="bi bi-circle"></i>نمودارها</a>
                    </li>
                    <li> <a href="charts-highcharts.html"><i class="bi bi-circle"></i>نمودارهای برتر</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-pin-map-fill"></i>
                    </div>
                    <div class="menu-title">نقشه ها</div>
                </a>
                <ul>
                    <li> <a href="map-google-maps.html"><i class="bi bi-circle"></i>نقشه های گوگل</a>
                    </li>
                    <li> <a href="map-vector-maps.html"><i class="bi bi-circle"></i>نقشه های برداری</a>
                    </li>
                </ul>
            </li>
            <li class="menu-label">دیگران</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-music-note-list"></i>
                    </div>
                    <div class="menu-title">سطوح منو</div>
                </a>
                <ul>
                    <li> <a class="has-arrow" href="javascript:;"><i class="bi bi-circle"></i>مرحله اول</a>
                        <ul>
                            <li> <a class="has-arrow" href="javascript:;"><i class="bi bi-circle"></i>سطح دو</a>
                                <ul>
                                    <li> <a href="javascript:;"><i class="bi bi-circle"></i>سطح سه</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-file-code-fill"></i>
                    </div>
                    <div class="menu-title">مستندات</div>
                </a>
            </li>
            <li>
                <a href="https://themeforest.net/user/codervent" target="_blank">
                    <div class="parent-icon"><i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="menu-title">حمایت کردن</div>
                </a>
            </li>
        </ul>
        <!--end navigation-->
    </aside>