<aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="{{ site_detail.logo.url }}" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">{{ site_detail.title }}</h4>
            </div>
            <div class="toggle-icon ms-auto"> <i class="bi bi-list"></i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="{% url 'panel:index' %}" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-house-fill"></i>
                    </div>
                    <div class="menu-title">داشبورد</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                    </div>
                    <div class="menu-title">مدیریت ظاهر سایت</div>
                </a>
                <ul>
                    <li> <a href="{% url 'panel:site_detail' %}"><i class="bi bi-circle"></i>جزييات</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                    </div>
                    <div class="menu-title">کاربرد</div>
                </a>
                <ul>
                    <li> <a href="https://mail.google.com/mail/u/0/?pli=1#inbox"><i class="bi bi-circle"></i>پست الکترونیک</a>
                    </li>
                    <li> <a href="{% url 'panel:chat_box' %}"><i class="bi bi-circle"></i>جعبه چت</a>
                    </li>
                    <li> <a href="https://panel.arvancloud.ir/"><i class="bi bi-circle"></i>آروان کلود</a>
                    </li>
                    <li> <a href="{% url 'panel:daily_works' %}"><i class="bi bi-circle"></i>لیست برای انجام کار</a>
                    </li>
                    <li> <a href="{% url 'panel:financial_statement' %}"><i class="bi bi-circle"></i>صورتحساب</a>
                    </li>
                    <li> <a href="{% url 'panel:calender' %}"><i class="bi bi-circle"></i>تقویم</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                    </div>
                    <div class="menu-title">کاربرها</div>
                </a>
                <ul>
                    <li> <a href="{% url 'panel:users' %}"><i class="bi bi-circle"></i>لیست کاربرها</a></li>
                    <li> <a href="{% url 'panel:admin' %}"><i class="bi bi-circle"></i>لیست ادمین ها</a></li>
                    <li> <a href="{% url 'panel:auther' %}"><i class="bi bi-circle"></i>لیست نویسنده ها</a></li>
                    <li> <a href="{% url 'panel:add_user' %}"><i class="bi bi-circle"></i>افزودن کاربر</a></li>
                    <li> <a href="{% url 'panel:add_admin' %}"><i class="bi bi-circle"></i>افزودن ادمین</a></li>
                    <li> <a href="{% url 'panel:add_auther' %}"><i class="bi bi-circle"></i>افزودن نویسنده</a></li>

                </ul>
            </li>
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="bi bi-basket2-fill"></i>
                    </div>
                    <div class="menu-title">تجارت الکترونیک</div>
                </a>
                <ul>
                    <li> <a href="{% url 'panel:products' %}"><i class="bi bi-circle"></i>لیست محصولات</a>
                    </li>
                    <li> <a href="{% url 'panel:products_grid' %}"><i class="bi bi-circle"></i>شبکه محصولات</a>
                    </li>
                    <li> <a href="{% url 'panel:products_category' %}"><i class="bi bi-circle"></i>دسته بندی ها</a>
                    </li>
                    <li> <a href="{% url 'panel:orders' %}"><i class="bi bi-circle"></i>سفارشات</a>
                    </li>
                    <li> <a href="{% url 'panel:products_add' %}"><i class="bi bi-circle"></i>افزودن محصول جدید</a>
                    </li>
                    <li> <a href="ecommerce-transactions.html"><i class="bi bi-circle"></i>معاملات</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="pages-user-profile.html">
                    <div class="parent-icon"><i class="bi bi-person-lines-fill"></i>
                    </div>
                    <div class="menu-title">مشخصات کاربر</div>
                </a>
            </li>
            <li>
                <a href="{% url 'panel:faq' %}">
                    <div class="parent-icon"><i class="bi bi-question-lg"></i>
                    </div>
                    <div class="menu-title">سوالات متداول</div>
                </a>
            </li>
            <li class="menu-label">نمودارها</li>
            <li>
                <a class="has-arrow" href="javascript:;">
                    <div class="parent-icon"><i class="bi bi-bar-chart-line-fill"></i>
                    </div>
                    <div class="menu-title">نمودار</div>
                </a>
                <ul>
                    <li> <a href="charts-apex-chart.html"><i class="bi bi-circle"></i>اوج</a>
                    </li>
                    <li> <a href="charts-chartjs.html"><i class="bi bi-circle"></i>نمودارها</a>
                    </li>
                    <li> <a href="charts-highcharts.html"><i class="bi bi-circle"></i>نمودارهای برتر</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!--end navigation-->
    </aside>