{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <div class="content">
        <!-- start bradcrumb -->
        <div class="category-bread">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-meta-breadcrumb shadow-sm">
                            <nav>
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item">
                                        <a href="#">خانه</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="#">محصولات</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <span>دسته بندی محصولات دیجیتال</span>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end bradcrumb -->

        <!-- start category -->
        <div class="category">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="category-item">
                            <div class="row">



                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/laptop1.jpg" alt="" class="img-fluid one-image">
                                                <img src="img/product/laptop2.jpg" alt="" class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/product-image4.jpg" alt=""
                                                    class="img-fluid one-image">
                                                <img src="img/product/product-image1.jpg" alt=""
                                                    class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/television3.jpg" alt=""
                                                    class="img-fluid one-image">
                                                <img src="img/product/television4.jpg" alt=""
                                                    class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/television1.jpg" alt=""
                                                    class="img-fluid one-image">
                                                <img src="img/product/television2.jpg" alt=""
                                                    class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/laptop2.jpg" alt="" class="img-fluid one-image">
                                                <img src="img/product/laptop1.jpg" alt="" class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/laptop3.jpg" alt="" class="img-fluid one-image">
                                                <img src="img/product/laptop4.jpg" alt="" class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/wach3.jpg" alt="" class="img-fluid one-image">
                                                <img src="img/product/wach4.jpg" alt="" class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/laptop2.jpg" alt="" class="img-fluid one-image">
                                                <img src="img/product/laptop4.jpg" alt="" class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-box-item">
                                        <div class="product-box-item-img">
                                            <a href="">
                                                <img src="img/product/product-image2.jpg" alt=""
                                                    class="img-fluid one-image">
                                                <img src="img/product/product-image6.jpg" alt=""
                                                    class="img-fluid two-image">
                                            </a>
                                            <div class="product-box-item-hover">
                                                <div class="product-box-item-hover-btn">
                                                    <span class="see-more hint--right" data-hint="مشاهده سریع"
                                                        data-bs-toggle="modal" data-bs-target="#productModal"><i
                                                            class="bi bi-eye"></i></span>
                                                    <span class="favorite hint--right"
                                                        data-hint="افزودن به برگزیده ها"><i
                                                            class="bi bi-heart"></i></span>
                                                    <span class="comparison hint--right" data-hint="مقایسه محصول"><i
                                                            class="bi bi-arrow-left-right"></i></span>
                                                    <span class="add-cart hint--right" data-hint="افزودن به سبد خرید"><i
                                                            class="bi bi-cart-plus"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="product.html">
                                            <div class="product-box-item-desc">
                                                <div class="product-box-item-title">
                                                    <h6>
                                                        تبلت مایکروسافت مدل Surface Pro 8 – F ظرفیت 512 گیگابایت
                                                    </h6>
                                                </div>
                                                <div class="product-box-price">
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="d-flex flex-column">
                                                            <span class="text-danger fw-bold fs-5">٪48</span>
                                                            <span class="fw-bold">تخفیف</span>
                                                        </div>
                                                        <div class="d-flex flex-column">
                                                            <span class="new-price">590,000 تومان</span>
                                                            <span class="old-price">1,000,000 تومان</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end category -->

        <div class="show-more">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="show-more-btn">
                            <button class="shadow-box waves-effect waves-light">مشاهده بیشتر <i class="bi bi-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}