<!DOCTYPE html>
<html lang="FA-IR" dir="rtl">
{% load static %}
{% load render_partial %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="آکورتک - فروشگاه قطعات کامپیوتر و خدمات اسمبل سیستم">
    <meta name="keywords" content="قطعات کامپیوتر, اسمبل سیستم, بنچمارک, خرید قطعات, گیمینگ">
    <meta name="author" content="آکورتک">

    {% block meta %}
    <meta property="og:title" content="آکورتک - فروشگاه قطعات کامپیوتر و اسمبل سیستم">
    <meta property="og:description" content="آکورتک بهترین قطعات کامپیوتر را برای گیمرها و متخصصان IT فراهم می‌کند.">
    <meta property="og:image" content="URL_image.jpg">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta name="twitter:card" content="summary_large_image">
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/bootstrap-icon/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/waves/waves.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/timer/timer.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/hint-css/hint-css.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/tagify/tagify.css' %}">
    <link rel="icon" href="{% static 'logo.webp' %}">
</head>

<body>
{% render_partial 'apps.product.views.HeaderView' %}

{% block content %}
{% endblock %}

{% render_partial 'apps.product.views.FooterView' %}

<!-- cart canvas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="cartCanvas" aria-labelledby="cart canvas">


</div>
<!-- end cart canvas -->
<!-- login modal -->
<div class="modal fade auth" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content rounded-5">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">ورود به سایت</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/user/header/login" method="post">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <input type="text" name="phone_or_email" class="form-control float-input" id="floatingInput"
                               placeholder="تلفن همراه / ایمیل">
                        <label for="floatingInput">تلفن همره / ایمیل</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control float-input" id="floatingPassword"
                               placeholder="کلمه عبور">
                        <label for="floatingPassword">کلمه عبور</label>
                    </div>
                    <div class="d-flex align-items-center justify-content-between flex-wrap mb-3">
                        <div class="form-group">
                            <a href="{% url 'user:forget' %}" class="text-primary">فراموشی رمز عبور</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit"
                                class="btn main-color-three-bg border-0 rounded-pill w-100 text-white waves-effect waves-light">
                            ورود
                        </button>
                    </div>
                </form>
                <div class="divider">
                    <span>یا</span>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'user:register' %}">عضو نیستی؟ ثبت نام در فروشگاه</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end login modal -->
<!-- product modal -->

<div class="modal fade modal-product" id="productModal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div id="show-product" class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    </div>
</div>
<!-- go top top -->
<div class="progress-wrap d-lg-block d-none">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
    </svg>
</div>
{#<div id="btncollapzion" data-bs-toggle="modal"#}
{#     data-bs-target="#ChatModal" class=" btn_collapzion" onclick="showChat()"></div>#}

{#<div style="scrollbar-width: none; margin-bottom: 800px !important;" class="modal fade" id="ChatModal" tabindex="-1"#}
{#     aria-labelledby="chartModalLabel" aria-hidden="true">#}
{##}
{#    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">#}
{#    </div>#}
{#    <div id="live-chat">#}
{#    </div>#}
{#</div>#}
<div class="" id="contactOverlay"></div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugin/waves/waves.min.js' %}"></script>
<script src="{% static 'plugin/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'plugin/timer/timer.js' %}"></script>
<script src="{% static 'plugin/hint-css/hint-css.js' %}"></script>
<script src="{% static 'plugin/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/jquery-app.js' %}"></script>

<!-- ===== start new update 3.2.0 -->
<script src="{% static 'plugin/go-to-top/script.js' %}"></script>
<script src="{% static 'plugin/rasta-contact/script.js' %}"></script>

<link rel="stylesheet" href="{% static 'plugin/go-to-top/style.css' %}">
<link rel="stylesheet" href="{% static 'plugin/rasta-contact/style.css' %}">
<script src="{% static 'js/costum.js' %}"></script>
<script>

</script>
{#<script>#}
{#    function showChat(){#}
{#        $.get('/chat').then(res => {#}
{#            $('#live-chat').html(res);#}
{#        })#}
{#    }#}
{#</script>#}
<script>
    //// config floating contact
    $('#btncollapzion').Collapzion({});
</script>
{% block extra_js %}
{% endblock %}


<!-- ===== end new update -->

</body>

</html>