{% extends 'parent/base.html' %}
{% load static %}

{% block title %}
    محاسبه‌گر پاور | آکورتک - انتخاب مناسب‌ترین منبع تغذیه برای سیستم شما
{% endblock %}

{% block meta %}
    <meta name="description" content="محاسبه‌گر پاور آکورتک به شما کمک می‌کند تا قدرت منبع تغذیه مناسب برای سیستم خود را با توجه به قطعات مختلف آن محاسبه کنید.">
    <meta name="keywords" content="محاسبه پاور, محاسبه منبع تغذیه, انتخاب پاور مناسب, پاور برای گیمینگ, قدرت منبع تغذیه, پاور سیستم کامپیوتری">
    <meta name="author" content="آکورتک">

    <meta property="og:title" content="محاسبه‌گر پاور | آکورتک - انتخاب مناسب‌ترین منبع تغذیه برای سیستم شما">

    <meta property="og:description" content="با استفاده از محاسبه‌گر پاور آکورتک، می‌توانید قدرت دقیق منبع تغذیه مورد نیاز برای سیستم خود را محاسبه کنید تا از عملکرد بهینه و ایمنی سیستم خود مطمئن شوید.">

{#    <meta property="og:image" content="{{ request.build_absolute_uri }}{{ page_image.url }}">#}

    <meta property="og:url" content="{{ request.build_absolute_uri }}">

    <meta name="twitter:card" content="summary_large_image">
{% endblock %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/power.css' %}">
    <main id="power__calculator" data-v-app="">
        <div class="calculator__background">
            <section class="banner">
                <article class="msi__container article"><h2 class="title"></h2>
                    <p class="describe"></p>
                    <p class="notice"></p></article>
            </section>
            <section class="msi__container content">
                <div class="components__block"><h3 class="sub__title">قطعات خود را انتخاب کنید</h3>
                    <div class="divider"></div>
                    <div id="template__componentMenu">
                        <section class="component__group">
                            <div class="template__three-select-filters">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-cpu"></i>
                                        <div class="title__text">پردازنده</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">برند</label>
                                        <div class="template__base__select">
                                            <button onclick="cpuBrandFunction()" class="checked__item" id="brand"><p
                                                    id="cpu-brand-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="cpu-brands" class="dropdown__options__container"
                                                style="display: none">
                                                {% for brand in cpu_brands %}
                                                    <li onclick="getSockets('{{ brand }}')"
                                                        class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="" value="{{ brand }}"
                                                                                               name=""><label
                                                            class="checked__option" for="cpu-Intel"><p>{{ brand }}</p>
                                                    </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>


                                    <div class="row"><label class="label" for="">سوکت</label>
                                        <div class="template__base__select">
                                            <button onclick="cpuSocketFunction()" class="checked__item"><p
                                                    id="cpu-socket-text" class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="cpu-sockets" class="dropdown__options__container"
                                                style="display: none;">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">مدل</label>
                                        <div class="template__base__select">
                                            <button onclick="cpuModelFunction()" class="checked__item"><p
                                                    id="cpu-btn-text" class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="cpu-list" class="dropdown__options__container"
                                                style="display: none;">

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="divider"></div>
                        <section class="component__group">
                            <div class="template__two-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-VGA-3fan"></i>
                                        <div class="title__text"> مادربرد</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">نوع</label>
                                        <div class="template__base__select">
                                            <button onclick="mainBoardFunction()" class="checked__item"><p id="main-board-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="main-board-list" class="dropdown__options__container" style="display: none;">
                                                {% for board in main_boards %}
                                                    <li onclick="selectMainBoard('{{ board.title }}', {{ board.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="gpu-0-{{ board.title }}"
                                                                                               value="{{ board.title }}"
                                                                                               name="gpu-0-{{ board.title }}"><label
                                                            class="checked__option" for="gpu-0-NVIDIA">
                                                        <p>{{ board.title }}</p></label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <button class="delete__icon" style="display: none;"><i class="icon-msi-close"></i>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="component__group">
                            <div class="template__two-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-VGA-3fan"></i>
                                        <div class="title__text">گرافیک</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">برند</label>
                                        <div class="template__base__select">
                                            <button onclick="gpuBrandFunction()" class="checked__item"><p id="gpu-brand-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="gpu-brand-list" class="dropdown__options__container" style="display: none;">
                                                {% for brand in gpu_brands %}
                                                    <li onclick="getGpuSeries('{{ brand.title }}', '{{ brand.id }}')" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="gpu-0-{{ brand.title }}"
                                                                                               value="{{ brand.title }}"
                                                                                               name="gpu-0-{{ brand.title }}"><label
                                                            class="checked__option" for="gpu-0-NVIDIA">
                                                        <p>{{ brand.title }}</p></label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">سری</label>
                                        <div class="template__base__select">
                                            <button onclick="gpuSeriesFunction()" class="checked__item"><p id="gpu-series-btn-text" class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="gpu-series-list" class="dropdown__options__container" style="display: none;">
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">مدل</label>
                                        <div class="template__base__select">
                                            <button onclick="gpuModelFunction()" class="checked__item"><p id="gpu-model-btn-text" class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="gpu-model-list" class="dropdown__options__container" style="display: none;">
                                            </ul>
                                        </div>
                                    </div>
                                    <button class="delete__icon" style="display: none;"><i class="icon-msi-close"></i>
                                    </button>
                                </div>
                            </div>
                        </section>
                        <div class="divider"></div>
                        <section class="component__group">
                            <div class="template__one-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-ram"></i>
                                        <div class="title__text">رم</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">ماژول </label>
                                        <div class="template__base__select">
                                            <button onclick="moduleRamFunction()" class="checked__item"><p id="ram-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="module-ram-list" class="dropdown__options__container" style="display: none;">
                                                {% for ram in rams %}
                                                    <li onclick="selectRam('{{ ram.type }}', {{ ram.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="ram-0-{{ ram.type }}"
                                                                                               value="{{ ram.type }}"
                                                                                               name="ram-0-{{ ram.type }}"><label
                                                            class="checked__option" for="ram-0-{{ ram.type }}">
                                                        <p>{{ ram.type }}</p></label>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">تعداد</label>
                                        <div class="template__base__select">
                                            <button onclick="ramNumberFunction()" class="checked__item"><p class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="ram-number-list" class="dropdown__options__container" style="display: none;">
                                                <li>
                                                    1
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="divider"></div>

                        <section class="component__group">
                            <div class="template__one-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-storages"></i>
                                        <div class="title__text">SSD</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">نوع</label>
                                        <div class="template__base__select">
                                            <button onclick="ssdTypeFunction()" class="checked__item"><p id="ssd-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="ssd-type-list" class="dropdown__options__container" style="display: none;">
                                                {% for ssd in ssds %}
                                                    <li onclick="selectSSD('{{ ssd.type }}', {{ ssd.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="storage-0-{{ ssd.type }}"
                                                                                               value="{{ ssd.type }}"
                                                                                               name="storage-0-{{ ssd.type }}"><label
                                                            class="checked__option" for="storage-0-HDD Drive">
                                                        <p>{{ ssd.type }}</p></label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">تعداد</label>
                                        <div class="template__base__select">
                                            <button onclick="ssdNumberFunction()" class="checked__item"><p class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="ssd-number-list" class="dropdown__options__container" style="display: none;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="divider"></div>
                        <section class="component__group">
                            <div class="template__one-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-storages"></i>
                                        <div class="title__text">HDD</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">نوع</label>
                                        <div class="template__base__select">
                                            <button onclick="hddTypeFunction()" class="checked__item"><p id="hdd-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="hdd-type-list" class="dropdown__options__container" style="display: none;">
                                                {% for hard in hards %}
                                                    <li onclick="selectHDD('{{ hard.type }}', {{ hard.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="storage-0-{{ hard.type }}"
                                                                                               value="{{ hard.type }}"
                                                                                               name="storage-0-{{ hard.type }}"><label
                                                            class="checked__option" for="storage-0-HDD Drive">
                                                        <p>{{ hard.type }}</p></label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><label class="label" for="">تعداد</label>
                                        <div class="template__base__select">
                                            <button onclick="hddNumberFunction()" class="checked__item"><p class="dropdown__btn__text">
                                                Select</p><span class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="hdd-number-list" class="dropdown__options__container" style="display: none;"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <div class="divider"></div>
                        <section class="component__group">
                            <div class="template__one-select-filters white__bg">
                                <div class="category">
                                    <div class="category__title category--show"><i
                                            class="category__icon icon-msi-optical-drive"></i>
                                        <div class="title__text">درایو نوری</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">نوع</label>
                                        <div class="template__base__select">
                                            <button onclick="opticalDriveFunction()" class="checked__item"><p id="optical-drive-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="optical-drive-list" class="dropdown__options__container" style="display: none;">
                                                {% for drive in drives %}
                                                    <li onclick="selectOpticalDrive('{{ drive.type }}', {{ drive.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               value="{{ drive.type }}"
                                                                                               name="drive-0-{{ drive.type }}"><label
                                                            class="checked__option" for="drive-0-No Select">
                                                        <p>{{ drive.type }}</p>
                                                    </label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row"><!----><!----></div>
                                </div>
                            </div>
                        </section>
                        <div class="divider"></div>
                        <section class="component__group">
                            <div class="template__other__filter">
                                <div class="category">
                                    <div class="category__title"><i class="icon-msi-others category__icon"></i>
                                        <div class="title__text">خنک کننده مایع</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">نوع</label>
                                        <div class="template__base__select">
                                            <button onclick="liquidFanFunction()" class="checked__item"><p id="liquid-fan-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="liquid-fan-list" class="dropdown__options__container" style="display: none;">
                                                {% for fan in liquid_fans %}
                                                    <li onclick="selectLiquidFan('{{ fan.type }}', {{ fan.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               id="fan-numQuantity-0"
                                                                                               value="{{ fan.type }}"
                                                                                               name="fan-numQuantity-0"><label
                                                            class="checked__option" for="fan-numQuantity-0">
                                                        <p>{{ fan.type }}</p>
                                                    </label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="component__group">
                            <div class="template__other__filter">
                                <div class="category">
                                    <div class="category__title"><i class="icon-msi-others category__icon"></i>
                                        <div class="title__text">فن</div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">سایز</label>
                                        <div class="template__base__select">
                                            <button onclick="fanFunction()" class="checked__item"><p id="fan-btn-text" class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="fan-list" class="dropdown__options__container" style="display: none;">
                                                {% for fan in fans %}
                                                    <li onclick="selectFan('{{ fan.size }}', {{ fan.power }})" class="dropdown__options__cell"><input class="checkbox"
                                                                                               type="radio"
                                                                                               value="{{ fan.size }}"><label
                                                            class="checked__option">
                                                        <p>{{ fan.size }}</p>
                                                    </label></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter">
                                    <div class="row"><label class="label" for="">تعداد</label>
                                        <div class="template__base__select">
                                            <button onclick="fanNumberFunction()" class="checked__item"><p class="dropdown__btn__text">Select</p><span
                                                    class="icon-msi-down dropdown__btn__icon"><span></span></span>
                                            </button>
                                            <ul id="fan-number-list" class="dropdown__options__container" style="display: none;">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="calculator__block">
                    <div id="template__calculator" class="pc__calculator"><h3 class="sub__title">Your recommended PSU
                        wattage is</h3>
                        <div class="divider"></div>
                        <div class="calculator__content">
                            <div class="calculator__wattage"><p class="text"><span id="total-power-desktop" class="number">0</span> Watts</p>
                            </div>
                            <button class="btn-reset"><i class="icon-msi-refresh refresh-icon"></i>Reset</button>
                        </div>
                    </div>
                    <div id="template__recommended-products" class="recommended__products"><h3 class="sub__title">
                        Recommended Power Supply</h3>
                        <div class="divider"></div>
                        <div class="recommended__carousel">
                            <div class="recommended__filter"><i class="icon-msi-filter filter-icon"></i>
                                <div class="template__multiple__select">
                                    <div class="custom-select">
                                        <div class="select-value">Connector Type</div>
                                        <i class="icon-msi-down select-arrow"></i>
                                        <div class="select-options" style="display: none;">
                                            <div class="option"><input type="checkbox"
                                                                       value="86390"><span>PCI-E 5.1</span><!----></div>
                                            <div class="option"><input type="checkbox"
                                                                       value="79194"><span>PCI-E 5.0</span><!----></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="template__multiple__select">
                                    <div class="custom-select">
                                        <div class="select-value">80 PLUS</div>
                                        <i class="icon-msi-down select-arrow"></i>
                                        <div class="select-options" style="display: none;">
                                            <div class="option"><input type="checkbox"
                                                                       value="75009"><span>Platinum</span><!----></div>
                                            <div class="option"><input type="checkbox" value="75010"><span>Gold</span>
                                                <!----></div>
                                            <div class="option"><input type="checkbox" value="75011"><span>Bronze</span>
                                                <!----></div>
                                            <div class="option"><input type="checkbox"
                                                                       value="75012"><span>Standard</span><!----></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recommended__content"><p class="text">No Result</p></div><!----></div>
                    </div>
                </div>
            </section>
        </div>

        <section class="mobile__calculator">
            <div id="template__calculator" class="mobile__calculator__content"><h3 class="sub__title">Your recommended
                PSU wattage is</h3>
                <div class="divider"></div>
                <div class="calculator__content">
                    <div class="calculator__wattage"><p class="text"><span id="total-power-phone" class="number">0</span> Watts</p></div>
                    <button class="btn-reset"><i class="icon-msi-refresh refresh-icon"></i>Reset</button>
                </div>
            </div>
            <div id="template__recommended-products" class="mobile__recommended__products" style="display: none;"><h3
                    class="sub__title">Recommended Power Supply</h3>
                <div class="divider"></div>
                <div class="recommended__carousel">
                    <div class="recommended__filter"><i class="icon-msi-filter filter-icon"></i>
                        <div class="template__multiple__select">
                            <div class="custom-select">
                                <div class="select-value">Connector Type</div>
                                <i class="icon-msi-down select-arrow"></i>
                                <div class="select-options" style="display: none;">
                                    <div class="option"><input type="checkbox" value="86390"><span>PCI-E 5.1</span>
                                        <!----></div>
                                    <div class="option"><input type="checkbox" value="79194"><span>PCI-E 5.0</span>
                                        <!----></div>
                                </div>
                            </div>
                        </div>
                        <div class="template__multiple__select">
                            <div class="custom-select">
                                <div class="select-value">80 PLUS</div>
                                <i class="icon-msi-down select-arrow"></i>
                                <div class="select-options" style="display: none;">
                                    <div class="option"><input type="checkbox" value="75009"><span>Platinum</span>
                                        <!----></div>
                                    <div class="option"><input type="checkbox" value="75010"><span>Gold</span><!---->
                                    </div>
                                    <div class="option"><input type="checkbox" value="75011"><span>Bronze</span><!---->
                                    </div>
                                    <div class="option"><input type="checkbox" value="75012"><span>Standard</span>
                                        <!----></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recommended__content"><p class="text">No Result</p></div><!----></div>
            </div>
            <button class="expand__btn"><i class="icon-msi-up"></i><span>View</span> Recommended Power Supply</button>
        </section>

    </main>

    <script src="{% static 'js/power-caculator.js' %}"></script>
{% endblock %}