{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
<main>

<!-- =======================
Inner intro START -->
<section class="pt-4">
	<div class="container">
		<div class="row">
      <div class="col-12">
        <!-- Author info START -->
				<div class="bg-primary bg-opacity-10 d-md-flex p-3 p-sm-4 my-3 text-center text-md-start rounded">
					<!-- Avatar -->
          <div class=" me-0 me-md-4">
            <div class="avatar avatar-xxl">
              <img class="avatar-img rounded-circle" src="{{ auther.image.url }}" alt="avatar">
            </div>
            <!-- Post count -->
            <div class="text-center mt-n3 position-relative">
              <span class="badge bg-danger fs-6">{{ auther.auther_blogs.count }} مقاله</span>
            </div>
          </div>
					<!-- Info -->
					<div>
            <h2 class="m-0">{{ auther.name }}</h2>
            <ul class="list-inline">
              <li class="list-inline-item"><i class="bi bi-person-fill me-1"></i>{{ auther.post }}</li>
              <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i>{{ auther.live_in }}</li>
            </ul>
						<p class="my-2">{{ auther.description }}</p>
						<!-- Social icons -->
						<ul class="nav justify-content-center justify-content-md-start">
							<li class="nav-item">
								<a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="fab fa-telegram-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="{{ auther.twitter_link }}"><i class="fab fa-twitter-square"></i></a>
							</li>
							<li class="nav-item">
								<a class="nav-link px-2 fs-5" href="{{ auther.instagram_link }}"><i class="fab fa-instagram-square"></i></a>
							</li>
						</ul>					
					</div>
				</div>
				<!-- Author info END -->
      </div>
    </div>
	</div>
</section>
<!-- =======================
Inner intro END -->

<!-- =======================
Main content START -->
<section class="position-relative pt-0">
	<div class="container">
		<div class="row">
      <div class="col-12 mb-3">
        <h2>مقالات {{ auther.name }}</h2>
      </div>
			<!-- Main Post START -->
			<div class="col-12">
				<div class="row gy-4">
					<!-- Card item START -->

					{% for blog in blogs %}

                        <div class="col-sm-6 col-lg-4">
                            <div class="card">
                                <!-- Card img -->
                                <div class="position-relative">
                                    <img class="card-img" src="{{ blog.image.url }}" alt="Card image">
                                    <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                        <!-- Card overlay bottom -->
                                        <div class="w-100 mt-auto">
                                            <!-- Card category -->
                                            <a href="{{ blog.category.get_absolute_url }}" class="badge text-bg-warning mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>{{ blog.category.title }}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body px-0 pt-3">
                                    <h4 class="card-title"><a href="{{ blog.get_absolute_url }}" class="btn-link text-reset">{{ blog.title }}</a></h4>
                                    <p class="card-text">{{ blog.description }}</p>
                                    <!-- Card info -->
                                    <ul class="nav nav-divider align-items-center d-none d-sm-inline-block">
                                        <li class="nav-item">
                                            <div class="nav-link">
                                                <div class="d-flex align-items-center position-relative">
                                                    <div class="avatar avatar-xs">
                                                        <img class="avatar-img rounded-circle" src="{{ auther.image.url }}" alt="avatar">
                                                    </div>
                                                    <span class="ms-3">با <a href="{{ auther.get_absolute_url }}" class="stretched-link text-reset btn-link">{{ auther.name }}</a></span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="nav-item">{{ blog.published_date }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                    {% endfor %}

                    <!-- Load more START -->
					<div class="col-12 text-center mt-5">
						<button type="button" class="btn btn-primary-soft">مقالات بیشتر <i class="bi bi-arrow-down-circle ms-2 align-middle"></i></button>
					</div>
					<!-- Load more END -->
				</div>
			</div>
			<!-- Main Post END -->
		</div> <!-- Row end -->
	</div>
</section>
<!-- =======================
Main content END -->

</main>
{% endblock %}