{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <main class="page-content">


        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-12 col-lg-4">
                                <div class="card shadow-none bg-light border">
                                    <div class="card-body">
                                        <div class="row g-3">

                                            <aside>
                                                <ul id="menu">
                                                    {% for main_category in main_categories %}
                                                        <li>
                                                            <a href="javascript:;" class="has-arrow">
                                                                <div class="parent-icon"><i class="bi bi-grid-fill"></i>
                                                                </div>
                                                                <div class="menu-title">{{ main_category.title }}</div>
                                                            </a>
                                                            <ul>
                                                                {% for child_category in main_category.base_category_child.all %}
                                                                    {% if child_category.parent_category == None %}
                                                                        <a href="javascript:;" class="has-arrow">
                                                                            <div class="parent-icon"><i
                                                                                    class="bi bi-grid-fill"></i>
                                                                            </div>
                                                                            <div class="menu-title">{{ child_category.title }}</div>
                                                                        </a>
                                                                        <ul>
                                                                            {% for child_category in child_category.child_category.all %}
                                                                                <li onclick="addProductForm('{{ child_category.url }}')">{{ child_category.title }}</li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </aside>
                                        </div><!--end row-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-8">
                                <div class="card shadow-none bg-light border">
                                    <div class="card-body">

                                        <div id="product-add-form">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!--end row-->
                    </div>
                </div>
            </div>
        </div><!--end row-->

    </main>
    <!--end page main-->
{% endblock %}