{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <!--start content-->
    <main class="page-content">

        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">اجزاء</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">اواتارها</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">کشویی را تغییر دهید</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col col-lg-10 mx-auto">

                <h5 class="mb-0">چیپست</h5>
                <hr>
                <div class="card radius-10">
                    <div class="card-body">
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-1.png" alt="Contact Person">جان دو</div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-2.png" alt="Contact Person">جسیکا دو</div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-3.png" alt="Contact Person">میشل پووا</div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-4.png" alt="Contact Person">کلارک ناتلا</div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-5.png" alt="Contact Person">آنانتو پایندا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-6.png" alt="Contact Person">ببر شینک <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">
                            <img src="assets/images/avatars/avatar-7.png" alt="Contact Person">زنجیره سالنا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <hr>
                        <div class="chip">جان دو <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">جسیکا دو <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">میشل پووا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">کلارک ناتلا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">آنانتو پایندا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">ببر شینک <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip">زنجیره سالنا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                    </div>
                </div>

                <h5 class="mb-0">اندازه و رنگ</h5>
                <hr>
                <div class="card radius-10">
                    <div class="card-body">
                        <div class="chip chip-md">
                            <img src="assets/images/avatars/avatar-1.png" alt="Contact Person">جان دو</div>
                        <div class="chip chip-md bg-light text-dark">
                            <img src="assets/images/avatars/avatar-2.png" alt="Contact Person">جسیکا دو</div>
                        <div class="chip chip-md bg-dark text-white">
                            <img src="assets/images/avatars/avatar-3.png" alt="Contact Person">میشل پووا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-md bg-danger text-white">
                            <img src="assets/images/avatars/avatar-4.png" alt="Contact Person">کلارک ناتلا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <hr>
                        <div class="chip chip-lg">
                            <img src="assets/images/avatars/avatar-5.png" alt="Contact Person">آنانتو پایندا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-lg bg-primary text-white">
                            <img src="assets/images/avatars/avatar-6.png" alt="Contact Person">ببر شینک <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-lg bg-warning text-white">
                            <img src="assets/images/avatars/avatar-7.png" alt="Contact Person">زنجیره سالنا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <hr>
                        <div class="chip chip-md">جان دو <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-md">جسیکا دو <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-md bg-info text-white">میشل پووا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-md bg-success text-white">کلارک ناتلا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <hr>
                        <div class="chip chip-lg">آنانتو پایندا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-lg bg-secondary text-white">ببر شینک <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                        <div class="chip chip-lg bg-dark text-white">زنجیره سالنا <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>
    <!--end page main-->
{% endblock %}