{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">اجزاء</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">لیست گروه ها</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">کشویی را تغییر دهید</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col col-lg-9 mx-auto">
                <h6 class="mb-0 text-uppercase">گروه فهرست رنگ</h6>
                <hr/>
                <div class="card bg-primary">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-cloud-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bell-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bookmark-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-chat-right-text-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-collection-play-fill font-18 align-middle me-2"></i>لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-danger">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-cloud-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bell-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bookmark-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-chat-right-text-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-collection-play-fill font-18 align-middle me-2"></i>لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-info">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-cloud-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bell-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bookmark-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-chat-right-text-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-collection-play-fill font-18 align-middle me-2"></i>لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-warning">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-cloud-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bell-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bookmark-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-chat-right-text-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-collection-play-fill font-18 align-middle me-2"></i>لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-purple">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-cloud-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bell-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-bookmark-check-fill font-18 align-middle me-2"></i>لورم ایپسوم متن.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-chat-right-text-fill font-18 align-middle me-2"></i>لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item bg-transparent text-white"><i class="bi bi-collection-play-fill font-18 align-middle me-2"></i>لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">مثال اساسی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">اقلام فعال</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item active" aria-current="true">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">فلاش گروه را فهرست کنید</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن.</li>
                            <li class="list-group-item">لورم ایپسوم متن ساختگی.</li>
                            <li class="list-group-item">لورم ایپسوم متن است.</li>
                        </ul>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">لیست گروه با نشان</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">لورم ایپسوم متن.	<span class="badge bg-primary rounded-pill">14</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">لورم ایپسوم متن ساختگی.	<span class="badge bg-success rounded-pill">2</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">لورم ایپسوم متن.	<span class="badge bg-danger rounded-pill">8</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">لورم ایپسوم متن ساختگی.	<span class="badge bg-orange rounded-pill">10</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">لورم ایپسوم متن است.	<span class="badge bg-purple rounded-pill">22</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">لیست گروه با نشان</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="list-group">
                            <a href="javascript:;" class="list-group-item list-group-item-action active" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1 text-white">عنوان مورد گروه را فهرست کنید</h5>
                                    <small>3 روز پیش</small>
                                </div>
                                <p class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>	<small>چاپگرها و متون بلکه روزنامه می باشد.</small>
                            </a>
                            <a href="javascript:;" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">عنوان مورد گروه را فهرست کنید</h5>
                                    <small class="text-muted">3 روز پیش</small>
                                </div>
                                <p class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>	<small class="text-muted">چاپگرها و متون بلکه روزنامه می باشد.</small>
                            </a>
                            <a href="javascript:;" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">عنوان مورد گروه را فهرست کنید</h5>
                                    <small class="text-muted">3 روز پیش</small>
                                </div>
                                <p class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>	<small class="text-muted">چاپگرها و متون بلکه روزنامه می باشد.</small>
                            </a>
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </main>
    <!--end page main-->
{% endblock %}