{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">

        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase">کارت با تصاویر</h6>
                <div class="my-3 border-top"></div>
                <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-lg-5">
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/01.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون است.</p>
                                <a href="#" class="btn btn-primary">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/02.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون است.</p>
                                <a href="#" class="btn btn-danger">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 border-top"></div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/03.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون است.</p>
                                <a href="#" class="btn btn-success">برو یه جایی</a>
                                <a href="#" class="btn btn-light">لغوکردن</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/04.png" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون است.</p>
                                <a href="#" class="btn btn-warning">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div>


        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase">کارت با لیست گروه</h6>
                <div class="my-3 border-top"></div>
                <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-lg-5">
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/05.png" class="card-img-top" alt="...">
                            <div class="card-body border-bottom">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">آیتم</li>
                                <li class="list-group-item">مورد دوم</li>
                                <li class="list-group-item">مورد سوم</li>
                            </ul>
                            <div class="card-body border-top">
                                <a href="#" class="card-link">لینک کارت</a>
                                <a href="#" class="card-link">لینک دیگه</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <img src="assets/images/gallery/06.png" class="card-img-top" alt="...">
                            <div class="card-body border-bottom">
                                <h5 class="card-title">عنوان کارت</h5>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">آیتم</li>
                                <li class="list-group-item">مورد دوم</li>
                                <li class="list-group-item">مورد سوم</li>
                            </ul>
                            <div class="card-body border-top">
                                <a href="#" class="card-link">لینک کارت</a>
                                <a href="#" class="card-link">لینک دیگه</a>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div>

        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase">کارت افقی</h6>
                <div class="my-3 border-top"></div>
                <div class="row row-cols-1 row-cols-lg-2 justify-content-center g-lg-5">
                    <div class="col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="assets/images/gallery/11.png" alt="..." class="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">عنوان کارت</h5>
                                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.چاپگرها و متون بلکه روزنامه هم می باشد.</p>
                                        <p class="card-text"><small class="text-muted">آخرین به روز رسانی 3 دقیقه قبل</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="assets/images/gallery/12.png" alt="..." class="card-img">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">عنوان کارت</h5>
                                        <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.چاپگرها و متون بلکه روزنامه هم می باشد.</p>
                                        <p class="card-text"><small class="text-muted">آخرین به روز رسانی 3 دقیقه قبل</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->
            </div>
        </div>

        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase">کارت با گروه</h6>
                <div class="my-3 border-top"></div>
                <div class="card-group">
                    <div class="card border-end">
                        <img src="assets/images/gallery/07.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">عنوان کارت</h5>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            <a href="#" class="btn btn-primary">برو یه جایی</a>
                        </div>
                    </div>
                    <div class="card border-end">
                        <img src="assets/images/gallery/08.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">عنوان کارت</h5>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                            <a href="#" class="btn btn-danger">برو یه جایی</a>
                        </div>
                    </div>
                    <div class="card border-end">
                        <img src="assets/images/gallery/09.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">عنوان کارت</h5>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
                            <a href="#" class="btn btn-success">برو یه جایی</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="assets/images/gallery/10.png" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title">عنوان کارت</h5>
                            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                            <a href="#" class="btn btn-warning">برو یه جایی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card bg-transparent shadow-none">
            <div class="card-body">
                <h6 class="mb-0 text-uppercase">کارت با متن</h6>
                <div class="my-3 border-top"></div>
                <div class="row row-cols-1 row-cols-lg-3 justify-content-center g-lg-5">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده است.</p>
                                <a href="javascript:;" class="btn btn-primary">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-center">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده است.</p>
                                <a href="javascript:;" class="btn btn-danger">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body text-end">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده است.</p>
                                <a href="javascript:;" class="btn btn-dark">برو یه جایی</a>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 border-top"></div>
                    <div class="col">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-danger text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-warning text-dark">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-info text-dark">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-purple text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-orange text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-pink text-white">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">درمان عنوان ویژه</h5>
                                </div>
                                <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که همیشه لازم است.</p>
                            </div>
                        </div>
                    </div>

                </div><!--end row-->
            </div>
        </div>




    </main>
    <!--end page main-->
{% endblock %}