<div class="card border shadow-none">
    <div class="card-header py-3">
        <div class="row align-items-center g-3">
            <div class="col-12 col-lg-6">
                <h5 class="mb-0">نام شرکت، تویتر</h5>
            </div>
            <div class="col-12 col-lg-6 text-md-end">
                <a href="javascript:;" class="btn btn-sm btn-danger me-2"><i class="bi bi-file-earmark-pdf-fill"></i> دانلود به صورت PDF</a>
                <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-secondary"><i class="bi bi-printer-fill"></i>چاپ</a>
            </div>
        </div>
    </div>
    <div class="card-header py-2 bg-light">
        <div class="row row-cols-1 row-cols-lg-3">
            <div class="col">
                <div class="">
                    <small>از جانب</small>
                    <address class="m-t-5 m-b-5">
                        <strong class="text-inverse">شرکت، تویتر</strong><br>
                        آدرس خیابان<br>
                        شهر، کد پستی<br>
                        تلفن: 7890-456 (123)<br>
                        فکس: 7890-456 (123)
                    </address>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <small>به</small>
                    <address class="m-t-5 m-b-5">
                        <strong class="text-inverse">نام شرکت</strong><br>
                        آدرس خیابان<br>
                        شهر، کد پستی<br>
                        تلفن: 7890-456 (123)<br>
                        فکس: 7890-456 (123)
                    </address>
                </div>
            </div>
            <div class="col">
                <div class="">
                    <small>فاکتور / دوره تیرماه</small>
                    <div class=""><b>3 تیر 1392</b></div>
                    <div class="invoice-detail">
                        #0000123<br>
                        خدمات محصول
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-invoice">
                <thead>
                <tr>
                    <th>شرح وظیفه</th>
                    <th class="text-center" width="10%">نرخ</th>
                    <th class="text-center" width="10%">ساعت ها</th>
                    <th class="text-right" width="20%">جمع کل</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <span class="text-inverse">طراحی سایت و توسعه</span><br>
                        <small>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</small>
                    </td>
                    <td class="text-center">50 تومان</td>
                    <td class="text-center">50</td>
                    <td class="text-right">2.500 تومان</td>
                </tr>
                <tr>
                    <td>
                        <span class="text-inverse">نام تجاری</span><br>
                        <small>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</small>
                    </td>
                    <td class="text-center">50 تومان</td>
                    <td class="text-center">40</td>
                    <td class="text-right">2.000 تومان</td>
                </tr>
                <tr>
                    <td>
                        <span class="text-inverse">سرویس طراحی مجدد</span><br>
                        <small>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</small>
                    </td>
                    <td class="text-center">50 تومان</td>
                    <td class="text-center">50</td>
                    <td class="text-right">2.500 تومان</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row bg-light align-items-center m-0">
            <div class="col col-auto p-4">
                <p class="mb-0">جمع جزئی</p>
                <h4 class="mb-0">4.500 تومان</h4>
            </div>
            <div class="col col-auto p-4">
                <i class="bi bi-plus-lg text-muted"></i>
            </div>
            <div class="col col-auto me-auto p-4">
                <p class="mb-0">کارمزد پی پال</p>
                <h4 class="mb-0">1.800 تومان</h4>
            </div>
            <div class="col bg-dark col-auto p-4">
                <p class="mb-0 text-white">جمع کل</p>
                <h4 class="mb-0 text-white">6.300 تومان</h4>
            </div>
        </div><!--end row-->
        <hr>
        <!-- begin invoice-note -->
        <div class="my-3">
            * تمام چک ها را به [نام شرکت شما] قابل پرداخت کنید<br>
            * پرداخت ظرف 30 روز انجام می شود<br>
            * اگر در مورد این فاکتور سؤالی دارید، با [نام، شماره تلفن، ایمیل] تماس بگیرید.
        </div>
        <!-- end invoice-note -->
    </div>
    <div class="card-footer py-3">
        <p class="text-center mb-2">
            بابت کسب و کارتان متشکریم
        </p>
        <p class="text-center d-flex align-items-center gap-3 justify-content-center mb-0">
            <span class=""><i class="bi bi-globe"></i> www.domain.com</span>
            <span class=""><i class="bi bi-telephone-fill"></i> T:+11-0462879</span>
            <span class=""><i class="bi bi-envelope-fill"></i> info@example.com</span>
        </p>
    </div>
</div>