{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">فرم ها</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">گروه ورودی</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">کشویی را تغییر دهید</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h6 class="mb-0 text-uppercase">مثال اساسی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3"> <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" class="form-control" placeholder="نام کاربری" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="نام کاربری گیرنده" aria-label="Recipient's username" aria-describedby="basic-addon2"> <span class="input-group-text" id="basic-addon2">example.com@</span>
                        </div>
                        <label for="basic-url" class="form-label">آدرس اینترنتی شما</label>
                        <div class="input-group mb-3"> <span class="input-group-text" id="basic-addon3">/https://example.com/users</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3"> <span class="input-group-text">تومان</span>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"> <span class="input-group-text">.00</span>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="نام کاربری" aria-label="Username"> <span class="input-group-text">@</span>
                            <input type="text" class="form-control" placeholder="سرور" aria-label="Server">
                        </div>
                        <div class="input-group"> <span class="input-group-text">با قسمت متن</span>
                            <textarea class="form-control" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">بسته بندی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group flex-nowrap"> <span class="input-group-text" id="addon-wrapping">@</span>
                            <input type="text" class="form-control" placeholder="نام کاربری" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">سایز بندی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group input-group-sm mb-3"> <span class="input-group-text" id="inputGroup-sizing-sm">کوچک</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <div class="input-group mb-3"> <span class="input-group-text" id="inputGroup-sizing-default">پیش فرض</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group input-group-lg"> <span class="input-group-text" id="inputGroup-sizing-lg">بزرگ</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">چک باکس ها و رادیوها</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-text">
                                <input class="form-check-input" type="checkbox" value="" aria-label="Checkbox for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with checkbox">
                        </div>
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input" type="radio" value="" aria-label="Radio button for following text input">
                            </div>
                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">ورودی های متعدد</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group"> <span class="input-group-text">نام و نام خانوادگی</span>
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control">
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">افزونه های متعدد</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3"> <span class="input-group-text">تومان</span>
                            <span class="input-group-text">0.00</span>
                            <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"> <span class="input-group-text">$</span>
                            <span class="input-group-text">0.00</span>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">افزونه های دکمه ای</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1">دکمه</button>
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="نام کاربری گیرنده" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">دکمه</button>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                            <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="نام کاربری گیرنده" aria-label="Recipient's username with two button addons">
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">دکمه هایی با فهرست کشویی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">کشویی</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">عمل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Text input with dropdown button">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">کشویی</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">عمل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                        </div>
                        <div class="input-group">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">کشویی</button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">اقدام قبل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر قبل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                            <input type="text" class="form-control" aria-label="Text input with 2 dropdown buttons">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">کشویی</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">عمل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">دکمه های تقسیم بندی شده</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <button type="button" class="btn btn-outline-secondary">عمل</button>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">	<span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">عمل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" aria-label="Text input with segmented dropdown button">
                            <button type="button" class="btn btn-outline-secondary">عمل</button>
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">	<span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="#">عمل</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یک اقدام دیگر</a>
                                </li>
                                <li><a class="dropdown-item" href="#">یه چیز دیگه اینجا</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">لینک جدا شده</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">فرم های سفارشی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">گزینه ها</label>
                            <select class="form-select" id="inputGroupSelect01">
                                <option selected>انتخاب کنید...</option>
                                <option value="1">یکی</option>
                                <option value="2">دو</option>
                                <option value="3">سه</option>
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <select class="form-select" id="inputGroupSelect02">
                                <option selected>انتخاب کنید...</option>
                                <option value="1">یکی</option>
                                <option value="2">دو</option>
                                <option value="3">سه</option>
                            </select>
                            <label class="input-group-text" for="inputGroupSelect02">گزینه ها</label>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                            <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                                <option selected>انتخاب کنید...</option>
                                <option value="1">یکی</option>
                                <option value="2">دو</option>
                                <option value="3">سه</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                                <option selected>انتخاب کنید...</option>
                                <option value="1">یکی</option>
                                <option value="2">دو</option>
                                <option value="3">سه</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="button">دکمه</button>
                        </div>
                    </div>
                </div>
                <h6 class="mb-0 text-uppercase">ورودی فایل سفارشی</h6>
                <hr/>
                <div class="card">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">بارگذاری</label>
                            <input type="file" class="form-control" id="inputGroupFile01">
                        </div>
                        <div class="input-group mb-3">
                            <input type="file" class="form-control" id="inputGroupFile02">
                            <label class="input-group-text" for="inputGroupFile02">بارگذاری</label>
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon03">دکمه</button>
                            <input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                        </div>
                        <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">دکمه</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </main>
    <!--end page main-->
{% endblock %}