{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">تجارت الکترونیک</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جزئیات سفارش</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">کشویی را تغییر دهید</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="card">
            <div class="card-header py-3">
                <div class="row g-3 align-items-center">
                    <div class="col-12 col-lg-4 col-md-6 me-auto">
                        <h5 class="mb-1">{{ order.paid_date }}</h5>
                        <p class="mb-0">شناسه سفارش: {{ order.id }}#</p>
                    </div>
                    <div class="col-12 col-lg-3 col-6 col-md-3">
                        <select class="form-select">
                            <option>تغییر وضعیت</option>
                            <option>در انتظار پرداخت</option>
                            <option>تایید شده</option>
                            <option>ارسال شد</option>
                            <option>تحویل داده شده</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3 col-6 col-md-3">
                        <button type="button" class="btn btn-primary">صرفه جویی</button>
                        <button type="button" class="btn btn-secondary"><i class="bi bi-printer-fill"></i> چاپ</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row row-cols-1 row-cols-xl-2 row-cols-xxl-3">
                    <div class="col">
                        <div class="card border shadow-none radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="icon-box bg-light-primary border-0">
                                        <i class="bi bi-person text-primary"></i>
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-2">مشتری</h6>
                                        <p class="mb-1">{{ order.user.fullname }}</p>
                                        <p class="mb-1">{{ order.user.email }}</p>
                                        <p class="mb-1">{{ order.user.phone }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border shadow-none radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="icon-box bg-light-success border-0">
                                        <i class="bi bi-truck text-success"></i>
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-2">اطلاعات سفارش</h6>
                                        <p class="mb-1"><strong>حمل </strong> :{{ order.paid_mode }}</p>
                                        <p class="mb-1"><strong>روش پرداخت</strong> : {{ order.send_mode }}</p>
                                        <p class="mb-1"><strong>وضعیت</strong> : جدید</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border shadow-none radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="icon-box bg-light-danger border-0">
                                        <i class="bi bi-geo-alt text-danger"></i>
                                    </div>
                                    <div class="info">
                                        <h6 class="mb-2">ارائه به</h6>
                                        <p class="mb-1"><strong>نشانی</strong> :{{ order.address }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end row-->

                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="card border shadow-none radius-10">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-middle mb-0">
                                        <thead class="table-light">
                                        <tr>
                                            <th>تولید - محصول</th>
                                            <th>قیمت واحد</th>
                                            <th>تعداد</th>
                                            <th>جمع</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for product in order.bucket_products.all %}
                                                <tr>
                                                    <td>
                                                        <div class="orderlist">
                                                            <a class="d-flex align-items-center gap-2" href="{{ product.product.get_absolute_url }}">
                                                                <div class="product-box">
                                                                    <img src="{{ product.product.image.url }}" alt="">
                                                                </div>
                                                                <div>
                                                                    <P class="mb-0 product-title"></P>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>{{ product.product.final_price }} تومان</td>
                                                    <td>{{ product.product.number }}</td>
                                                    <td>{{ product.product.get_total_price }} تومان</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="card border shadow-none bg-light radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <div>
                                        <h5 class="mb-0">خلاصه سفارش</h5>
                                    </div>
                                    <div class="ms-auto">
                                        <button type="button" class="btn alert-success radius-30 px-4">{{ order.status }}</button>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <p class="mb-0">مبلغ بدون تخفیف:</p>
                                    </div>
                                    <div class="ms-auto">
                                        <h5 class="mb-0">{{ order.price }} تومان</h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <p class="mb-0">قیمت حمل و نقل</p>
                                    </div>
                                    <div class="ms-auto">
                                        <h5 class="mb-0">{{ order.post_price }} تومان</h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <p class="mb-0">بهای قابل پرداخت</p>
                                    </div>
                                    <div class="ms-auto">
                                        <h5 class="mb-0">{{ order.price_paid }} تومان</h5>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <p class="mb-0">تخفیف</p>
                                    </div>
                                    <div class="ms-auto">
                                        <h5 class="mb-0 text-danger">-{{ order.off }} تومان</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card border shadow-none bg-warning radius-10">
                            <div class="card-body">
                                <h5>اطلاعات پرداخت</h5>
                                <div class="d-flex align-items-center gap-3">
                                    <div class="fs-1">
                                        <i class="bi bi-credit-card-2-back-fill"></i>
                                    </div>
                                    <div class="">
                                        <p class="mb-0 fs-6">{{ order.paid_credit_cart_detail }} </p>
                                    </div>
                                </div>
                                <p>
                                    تلفن: {{ order.user.phone }}
                                </p>
                            </div>
                        </div>


                    </div>
                </div><!--end row-->

            </div>
        </div>

    </main>
    <!--end page main-->
{% endblock %}