{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">تجارت الکترونیک</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">شبکه محصولات</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">کشویی را تغییر دهید</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-xl-2">
                        <a href="javascript:;" class="btn btn-primary mb-3 mb-lg-0"><i class="bi bi-plus-square-fill"></i>افزودن محصول</a>
                    </div>
                    <div class="col-lg-9 col-xl-10">
                        <form class="float-lg-end">
                            <div class="row row-cols-lg-auto g-2">
                                <div class="col-12">
                                    <a href="javascript:;" class="btn btn-light mb-3 mb-lg-0"><i class="bi bi-download"></i>صادرات</a>
                                </div>
                                <div class="col-12">
                                    <a href="javascript:;" class="btn btn-light mb-3 mb-lg-0"><i class="bi bi-upload"></i>وارد كردن</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header py-3">
                <div class="row g-3 align-items-center">
                    <div class="col-lg-3 col-md-6 me-auto">
                            <div class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i onclick="gridSearch()" class="bi bi-search"></i></div>
                                <input id="grid-search" class="form-control ps-5" type="text" placeholder="محصولات را جستجو کنید">
                            </div>
                    </div>
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option onclick="getCategoryProducts()">همه دسته</option>
                            {% for category in child_categories %}
                                <option onclick="getCategoryProducts({{ category.id }})">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                <input id="category-num" type="hidden">
                <input id="type-grid" type="hidden">
                    <div class="col-lg-2 col-6 col-md-3">
                        <select class="form-select">
                            <option onclick="sortGridProducts('last')">آخرین اضافه شده</option>
                            <option onclick="sortGridProducts('cheap')"> ارزان</option>
                            <option onclick="sortGridProducts('expensive')"> گران</option>
                            <option onclick="sortGridProducts('most_viewd')">پربیننده ترین</option>
                            <option onclick="sortGridProducts('most_sell')"> پرفروش ترین</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" id="grid-body">
                <div class="product-grid">
                    <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3">

                        {% for product in products %}
                            <div class="col">
                                <div class="card border shadow-none mb-0">
                                    <div class="card-body text-center">
                                        <img src="{{ product.image.url }}" class="img-fluid mb-3" alt=""/>
                                        <h6 class="product-title">{{ product.title }}</h6>
                                        <p class="product-price fs-5 mb-1"><span>{{ product.price }} تومان</span></p>
                                        <p class="product-price fs-5 mb-1"><span>{{ product.off }} %</span></p>
                                        <p class="product-price fs-5 mb-1"><span>{{ product.price_after_off }} تومان</span></p>
                                        <div class="rating mb-0">
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                            <i class="bi bi-star-fill text-warning"></i>
                                        </div>
                                        <small>{{ product.view_num }} بازدید</small>
                                        <div class="actions d-flex align-items-center justify-content-center gap-2 mt-3">
                                            <a href="javascript:;" class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil-fill"></i> ویرایش</a>
                                            <a href="javascript:;" onclick="deleteProduct({{ product.id }})" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash-fill"></i> حذف</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div><!--end row-->
                </div>
                <nav class="float-end mt-4" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">قبلی</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">بعد</a></li>
                    </ul>
                </nav>

            </div>
        </div>

    </main>
    <!--end page main-->
{% endblock %}