{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">جداول</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جدول داده</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">تغییر حالت کشویی</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->
        <h6 class="mb-0 text-uppercase">مثال جدول داده</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>نام</th>
                            <th>موقعیت</th>
                            <th>دفتر</th>
                            <th>سن</th>
                            <th>تاریخ شروع</th>
                            <th>حقوق</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ببر نیکسون</td>
                            <td>معمار سیستم</td>
                            <td>ادینبورگ</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>گرت وینترز</td>
                            <td>حسابدار</td>
                            <td>توکیو</td>
                            <td>63</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>اشتون کاکس</td>
                            <td>نویسنده فنی جوان</td>
                            <td>سانفرانسیسکو</td>
                            <td>66</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>سدریک کلی</td>
                            <td>برنامه نویس ارشد جاوا اسکریپت</td>
                            <td>ادینبورگ</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>آیری ساتو</td>
                            <td>حسابدار</td>
                            <td>توکیو</td>
                            <td>33</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>بریل ویلیامسون</td>
                            <td>کارشناس ادغام</td>
                            <td>نیویورک</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>هرود چندلر</td>
                            <td>دستیار فروش</td>
                            <td>سانفرانسیسکو</td>
                            <td>59</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>رونا دیویدسون</td>
                            <td>کارشناس ادغام</td>
                            <td>توکیو</td>
                            <td>55</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>کالین هرست</td>
                            <td>برنامه نویس جاوا اسکریپت</td>
                            <td>سانفرانسیسکو</td>
                            <td>39</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>سونیا فراست</td>
                            <td>مهندس نرم افزار</td>
                            <td>ادینبورگ</td>
                            <td>23</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>جنا گینز</td>
                            <td>مدیر دفتر</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>کوین فلین</td>
                            <td>سرب پشتیبانی</td>
                            <td>ادینبورگ</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>شارد مارشال</td>
                            <td>مدیر منطقه</td>
                            <td>سانفرانسیسکو</td>
                            <td>36</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>هیلی کندی</td>
                            <td>طراح ارشد بازاریابی</td>
                            <td>لندن</td>
                            <td>43</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>19</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>مایکل سیلوا</td>
                            <td>طراح بازاریابی</td>
                            <td>لندن</td>
                            <td>66</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>پل برد</td>
                            <td>مدیر ارشد مالی </td>
                            <td>نیویورک</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>59</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>41</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>35</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                           <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>40</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>21</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>23</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>42</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>28</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>28</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>48</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>20</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>53</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>27</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>46</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                           <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>51</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                           <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>41</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>62</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>65</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>38</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>63</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>56</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>43</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>46</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>21</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>51</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>29</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>27</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>نام</th>
                            <th>موقعیت</th>
                            <th>دفتر</th>
                            <th>سن</th>
                            <th>تاریخ شروع</th>
                            <th>حقوق</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <h6 class="mb-0 text-uppercase">واردات جدول داده</h6>
        <hr/>
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>نام</th>
                            <th>موقعیت</th>
                            <th>دفتر</th>
                            <th>سن</th>
                            <th>تاریخ شروع</th>
                            <th>حقوق</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ببر نیکسون</td>
                            <td>معمار سیستم</td>
                            <td>ادینبورگ</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>گرت وینترز</td>
                            <td>حسابدار</td>
                            <td>توکیو</td>
                            <td>63</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>اشتون کاکس</td>
                            <td>نویسنده فنی جوان</td>
                            <td>سانفرانسیسکو</td>
                            <td>66</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>سدریک کلی</td>
                            <td>برنامه نویس ارشد جاوا اسکریپت</td>
                            <td>ادینبورگ</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>آیری ساتو</td>
                            <td>حسابدار</td>
                            <td>توکیو</td>
                            <td>33</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>بریل ویلیامسون</td>
                            <td>کارشناس ادغام</td>
                            <td>نیویورک</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>هرود چندلر</td>
                            <td>دستیار فروش</td>
                            <td>سانفرانسیسکو</td>
                            <td>59</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>رونا دیویدسون</td>
                            <td>کارشناس ادغام</td>
                            <td>توکیو</td>
                            <td>55</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>کالین هرست</td>
                            <td>برنامه نویس جاوا اسکریپت</td>
                            <td>سانفرانسیسکو</td>
                            <td>39</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>سونیا فراست</td>
                            <td>مهندس نرم افزار</td>
                            <td>ادینبورگ</td>
                            <td>23</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>جنا گینز</td>
                            <td>مدیر دفتر</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>کوین فلین</td>
                            <td>سرب پشتیبانی</td>
                            <td>ادینبورگ</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>شارد مارشال</td>
                            <td>مدیر منطقه</td>
                            <td>سانفرانسیسکو</td>
                            <td>36</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>هیلی کندی</td>
                            <td>طراح ارشد بازاریابی</td>
                            <td>لندن</td>
                            <td>43</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>19</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>مایکل سیلوا</td>
                            <td>طراح بازاریابی</td>
                            <td>لندن</td>
                            <td>66</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>پل برد</td>
                            <td>مدیر ارشد مالی </td>
                            <td>نیویورک</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>59</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>41</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>35</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>40</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>21</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>23</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>42</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>28</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>28</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>48</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>20</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>53</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>27</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>22</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>46</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>51</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>41</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>62</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>65</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>38</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>37</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>61</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>64</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>63</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>56</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>43</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>46</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>47</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>21</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>30</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>51</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>29</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        <tr>
                            <td>تاتیانا فیتزپاتریک</td>
                            <td>مدیر منطقه</td>
                            <td>لندن</td>
                            <td>27</td>
                            <td>1390/02/14</td>
                            <td>320 تومان</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>نام</th>
                            <th>موقعیت</th>
                            <th>دفتر</th>
                            <th>سن</th>
                            <th>تاریخ شروع</th>
                            <th>حقوق</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <!--end page main-->
{% endblock %}