{% extends 'panel/parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!--start content-->
    <main class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">جداول</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">جداول پیشرفته</li>
                    </ol>
                </nav>
            </div>
            <div class="ms-auto">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary">تنظیمات</button>
                    <button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">تغییر حالت کشویی</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">عمل</a>
                        <a class="dropdown-item" href="javascript:;">یک اقدام دیگر</a>
                        <a class="dropdown-item" href="javascript:;">یه چیز دیگه اینجا</a>
                        <div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">لینک جدا شده</a>
                    </div>
                </div>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0">اطلاعات مشتری</h5>
                    <form class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                        <input class="form-control ps-5" type="text" placeholder="جستجوکردن">
                    </form>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table align-middle">
                        <thead class="table-secondary">
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>نشانی</th>
                            <th>شهر</th>
                            <th>پین کد</th>
                            <th>کشور</th>
                            <th>اقدامات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-1.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">توماس هاردی</p>
                                    </div>
                                </div>
                            </td>
                            <td> شیکاگو انگلستان</td>
                            <td>شیکاگو</td>
                            <td>8574201</td>
                            <td>انگلستان</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-2.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">ویکتوریا هاردی</p>
                                    </div>
                                </div>
                            </td>
                            <td> نیویورک انگلستان</td>
                            <td>نیویورک</td>
                            <td>8956370</td>
                            <td>انگلستان</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-3.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">ماریا آندرس</p>
                                    </div>
                                </div>
                            </td>
                            <td> لهستان انگلستان</td>
                            <td>لهستان</td>
                            <td>3265840</td>
                            <td>انگلستان</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-4.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">ماریا آندرس</p>
                                    </div>
                                </div>
                            </td>
                            <td>دهلی هند</td>
                            <td>دهلی</td>
                            <td>6535420</td>
                            <td>هند</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-5.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">مارتین لوتر</p>
                                    </div>
                                </div>
                            </td>
                            <td> کلمبو سریلانکا</td>
                            <td>کلمبو</td>
                            <td>9645230</td>
                            <td>سری لانکا</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>
                                <div class="d-flex align-items-center gap-3 cursor-pointer">
                                    <img src="assets/images/avatars/avatar-6.png" class="rounded-circle" width="44" height="44" alt="">
                                    <div class="">
                                        <p class="mb-0">مارتین لوتر</p>
                                    </div>
                                </div>
                            </td>
                            <td> نیویورک انگلستان</td>
                            <td>نیویورک</td>
                            <td>7854230</td>
                            <td>انگلستان</td>
                            <td>
                                <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                    <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="نمایش"><i class="bi bi-eye-fill"></i></a>
                                    <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="ویرایش"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="حذف"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <h5 class="mb-0">جدول سفارش</h5>
                    <form class="ms-auto position-relative">
                        <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i></div>
                        <input class="form-control ps-5" type="text" placeholder="جستجوکردن">
                    </form>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table align-middle mb-0">
                        <thead class="table-light">
                        <tr>
                            <th>تولید - محصول</th>
                            <th>عکس</th>
                            <th>شناسه محصول</th>
                            <th>وضعیت</th>
                            <th>میزان</th>
                            <th>تاریخ</th>
                            <th>حمل دریایی</th>
                        </tr>
                        </thead>
                        <tbody><tr>
                            <td>کفش ورزشی</td>
                            <td><img src="assets/images/products/01.png" class="product-img-2" alt="product img"></td>
                            <td>#9405822</td>
                            <td><span class="badge bg-light-success text-success w-100">پرداخت شده</span></td>
                            <td>125 تومان</td>
                            <td>03 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                            </div>
                            </td>
                        </tr>

                        <tr>
                            <td>کلاه سر مرد</td>
                            <td><img src="assets/images/products/02.png" class="product-img-2" alt="product img"></td>
                            <td>#8304620</td>
                            <td><span class="badge bg-light-warning text-warning w-100">انتظار</span></td>
                            <td>1500 تومان</td>
                            <td>05 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%"></div>
                            </div></td>
                        </tr>

                        <tr>
                            <td>عينك آفتابي</td>
                            <td><img src="assets/images/products/03.png" class="product-img-2" alt="product img"></td>
                            <td>#4736890</td>
                            <td><span class="badge bg-light-danger text-danger w-100">ناموفق</span></td>
                            <td>1400 تومان</td>
                            <td>06 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"></div>
                            </div></td>
                        </tr>

                        <tr>
                            <td>پیراهن رسمی</td>
                            <td><img src="assets/images/products/04.png" class="product-img-2" alt="product img"></td>
                            <td>#8543765</td>
                            <td><span class="badge bg-light-success text-success w-100">پرداخت شده</span></td>
                            <td>1200 تومان</td>
                            <td>010 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>شلوار کت مشکی</td>
                            <td><img src="assets/images/products/06.png" class="product-img-2" alt="product img"></td>
                            <td>#9629240</td>
                            <td><span class="badge bg-light-warning text-warning w-100">انتظار</span></td>
                            <td>1500 تومان</td>
                            <td>012 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 60%"></div>
                            </div></td>
                        </tr>
                        <tr>
                            <td>شفا می دهد</td>
                            <td><img src="assets/images/products/05.png" class="product-img-2" alt="product img"></td>
                            <td>#8506790</td>
                            <td><span class="badge bg-light-danger text-danger w-100">ناموفق</span></td>
                            <td>1800 تومان</td>
                            <td>015 خرداد 1400</td>
                            <td><div class="progress" style="height: 5px;">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 40%"></div>
                            </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </main>
    <!--end page main-->
{% endblock %}