{% load static %}
<link rel="stylesheet" href="{% static 'chat/css/style.css' %}"/>

<!-- Navbar -->

<!-- Popup chat window -->

<!-- chat open -->

<!-- chat close -->
<!-- chat chat-window 2 -->
<div class="chat-window2" id="chat-window2" style="display: block;">
    <div class="message-box" id="chat-log">
        {% for chat in chats %}
            {% if chat.file %}

            {% else %}
                {% if chat.admin %}
                    <div class="second-chat">
                        <div class="circle"></div>
                        <p>{{ chat.text }}</p>
                        <div class="arrow"></div>
                    </div>
                {% else %}
                    <div class="first-chat">
                        <p>{{ chat.text }}</p>
                        <div class="arrow"></div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
<script>
</script>
    <div class="input-box">
        <div class="write-reply">
            <input
                    class="inputText"
                    type="text"
                    id="chat-message-input"
                    placeholder="Write a reply..."
            />
        </div>
        <div class="send-button">
            <button
                    type="submit"
                    class="send-message"
                    id="chat-message-submit"
                    onclick="userResponse()"
            >
                <i class="material-icons-outlined">ارسال</i>
            </button>

        </div>
        {{ room_id|json_script:"room-name" }}
        <input type="hidden" id="chat-replay-id">
        <input id="chat-file" type="file">
    </div>
</div>
<script>
    var chat = document.getElementById('chat-log');
    $(document).ready(function() {
        chat.scrollTo(0, document.querySelector("#chat-log").scrollHeight);
    });

    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const replay_id = document.getElementById('chat-replay-id')

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    const fileSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/file/'
        + roomName
        + '/'
    );

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        var chat = document.getElementById('chat-log');
        chat.scrollTo(0,document.querySelector("#chat-log").scrollHeight);
        if (data.sender === 'user'){
            chat.innerHTML += (`<div class="first-chat">
                        <p>${ data.message }</p>
                        <div class="arrow"></div>
                    </div>`);
        }
        else{
            chat.innerHTML += (`<div class="first-chat">
                        <p>${ data.message }</p>
                        <div class="arrow"></div>
                    </div>`);
        }
    };


    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        var chat = document.getElementById('chat-log');
        chat.scrollTo(0,document.querySelector("#chat-log").scrollHeight);
        chatSocket.send(JSON.stringify({
            'message': message,
            'sender': 'user',
            'event': 'message'
        }))
        messageInputDom.value = '';
    }

    function readFile() {
        if (this.files && this.files[0]) {
            var file = document.getElementById("chat-file")
            var FR = new FileReader();
            var chat = document.getElementById('chat-log');
            chat.scrollTo(0,document.querySelector("#chat-log").scrollHeight);
            FR.addEventListener("load", function (e) {
                fileSocket.send(JSON.stringify({
                    'file': e.target.result,
                    'name': file.value,
                    'sender': 'user',
                    'event': 'file'
                }));
            });

            FR.readAsDataURL(this.files[0]);
        }

    }

    document.getElementById("chat-file").addEventListener("change", readFile);

    function closeChat() {
        chatSocket.close();
        fileSocket.close();
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>









