{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}

    <!-- bread croumb -->
    <div class="content">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" class="my-lg-0 my-2">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="font-14 text-muted">خانه</a></li>
                    <li class="breadcrumb-item active main-color-one-color font-14" aria-current="page">ثبت نام</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- start main-data -->
    <div class="content">
        <div class="container-fluid">
            <div class="content-box">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xl-4 col-sm-8">
                        <div class="auth shadow-box rounded-4 p-4">
                            <div class="auth-content">
                                <h3 class="font-20 text-center auth-title-form">تغییر رمز عبور</h3>
                                <form method="post" action="" class="mt-3">
                                    {% csrf_token %}
                                    <div class="form-floating mb-3">
                                        <input type="password" name="password" class="form-control float-input" id="floatingPassword" placeholder="کلمه عبور جدید">
                                        <label for="floatingPassword">کلمه عبور جدید</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="password" name="confirm_password" class="form-control float-input" id="floatingPasswordRe" placeholder="تکرار کلمه عبور جدید">
                                        <label for="floatingPasswordRe">تکرار کلمه عبور جدید</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn main-color-three-bg border-0 rounded-pill w-100 text-white waves-effect waves-light">ویرایش رمز عبور
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main-data -->

{% endblock %}