{% extends 'user/base.html' %}
{% block title %}{% endblock %}
{% block panel %}
    <div class="col-lg-9">
        <div class="content-box">
            <div class="item-box shadow-box">
                <div class="title border-bottom border-muted">
                    <h6 class="font-14">ویرایش اطلاعات شخصی</h6>
                </div>
                <div class="desc shadow-none">
                    <form action="" method="POST">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control float-input" id="floatingInputFname" placeholder="{{ user.fullname }}">
                                        <label for="floatingInputFname">نام و نام خانوادگی خود را وارد کنید</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="ostan" class="form-label">استان <span
                                                class="text-danger ms-1">*</span></label>
                                        <select id="ostan" class="w-100">
                                            <option>تهران</option>
                                            <option>یزد</option>
                                            <option>اصفهان</option>
                                            <option>لرستان</option>
                                            <option>کردستان</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="city" class="form-label me-lg-0 me-3">شهر <span
                                                class="text-danger ms-1">*</span></label>
                                        <select id="city" class="w-100">
                                            <option>کرج</option>
                                            <option>خرم آباد</option>
                                            <option>کرمانشاه</option>
                                            <option>مهاباد</option>
                                            <option>بروجرد</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInputStreet"
                                   placeholder="خیابان">
                            <label for="floatingInputStreet">خیابان</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInputPelak"
                                   placeholder="شماره واحد ، بلوک ، پلاک (دلخواه)">
                            <label for="floatingInputPelak">شماره واحد ، بلوک ، پلاک (دلخواه)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInputMobile"
                                   placeholder="تلفن همراه">
                            <label for="floatingInputMobile">تلفن همراه</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInputEmail"
                                   placeholder="ایمیل">
                            <label for="floatingInputEmail">ایمیل</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control float-input" id="floatingInputPelak"
                                   placeholder="شماره واحد ، بلوک ، پلاک (دلخواه)">
                            <label for="floatingInputPelak">شماره واحد ، بلوک ، پلاک (دلخواه)</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control float-input" id="floatingInputDesc" style="height: 100px;" placeholder="نکاتی در مورد سفارش به عنوان مثال نکاتی برای تحویل"></textarea>
                            <label for="floatingInputDesc">نکاتی در مورد سفارش به عنوان مثال نکاتی برای تحویل</label>
                        </div>
                        <div class="mb-2">
                            <button type="submit" class="btn border-0 main-color-one-bg waves-effect waves-light w-100 py-2">ویرایش</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}