{% extends 'user/base.html' %}
{% load poll_extras %}
{% block title %}{% endblock %}
{% block panel %}
    <div class="col-lg-9">
        <div class="content-box">
            <div class="item-box shadow-box">
                <div class="title border-bottom border-muted">
                    <h6 class="font-14">محصولات مورد علاقه من</h6>
                </div>
                <div class="desc shadow-none">
                    <div class="row gy-3">
                        {% for product in products %}
                            <div class="col-md-4">
                                <a href="">
                                    <div class="product-row p-0 bg-white d-flex align-items-center justify-content-between rounded-4 shadow-md">
                                        <div class="imagea">
                                            <img src="{{ product.product.image.url }}" class="img-fluid" width="100" alt="">
                                        </div>
                                        <div class="desca shadow-inner" style="border-radius: 10px;">
                                            <h6 class="font-14 title text-overflow-1">{{ product.product.title }}</h6>
                                            <div class="price d-flex flex-column justify-content-end mt-2">
                                                <div class="text-end">
                                                    <span class="fw-bold font-18 def-color">{{ product.product.price_after_off | money_format }}</span>
                                                    <span class="badge main-color-two-bg rounded-pill">{{ product.product.off }}%</span>
                                                </div>
                                                <div class="text-end">
                                                    <span class="text-muted font-14 text-decoration-line-through">{{ product.product.price | money_format }}</span>
                                                    <span class="text-muted font-14">تومان</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <div class="d-flex justify-content-center align-items-center mt-3">
                                    <a href="" class="box-icon bg-light text-primary"><i
                                            class="bi bi-cart-plus"></i></a>
                                    <a href="" class="box-icon bg-light text-danger"><i
                                            class="bi bi-trash"></i></a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="my-paginate py-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item disabled">
                                <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-right"></i></a></li>
                            <li class="page-item active"><a class="page-link rounded-3" href="#">1</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">2</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">3</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">...</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">14</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">15</a></li>
                            <li class="page-item"><a class="page-link rounded-3" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link rounded-3" href="#"><i class="bi bi-chevron-left"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}