{% load poll_extras %}
{% load static %}

<div class="tab-pane fade product-desc-less-contents" id="productDescLess-pane" role="tabpanel"
     aria-labelledby="#productDescLess">
    <div class="product-desc-content">
        <input type="checkbox" class="read-more-state" id="readMore3">
        <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
        <div class="read-more-wrap">
            <h2 class="title gold mb-2">معرفی محصول</h2>
            <p>
                اگر به دنبال تهیه یک هدفون بی‌سیم گیمینگ هستید، هدفون بلوتوثی مدل K55
                به‌عنوان
                یکی از جدیدترین گزینه‌های موجود در بازار ارزش بررسی را دارد. این مدل با
                ابعادی
                کوچک تولید شده است. ابعاد و وزن کم آن، جابه‌جایی این وسیله و استفاده
                طولانی‌مدت
                از آن را آسان می‌کند و باعث خستگی گوش‌ها نخواهد شد. این مدل برای اتصال
                به
                دستگاه‌ به بلوتوث نسخه 5.0 مجهز شده است و در مدت زمان اندکی، اتصال با
                گوشی
                موبایل اندروید یا ios شما برقرار خواهد شد. هدفون بی سیم K55 دارای یک
                میکروفون با
                کیفیت است و ...
            </p>
            <!-- متن بیشتر -->
            <div class="read-more-target">
                اگر به دنبال تهیه یک هدفون بی‌سیم گیمینگ هستید، هدفون بلوتوثی مدل K55
                به‌عنوان
                یکی از جدیدترین گزینه‌های موجود در بازار ارزش بررسی را دارد. این مدل با
                ابعادی
                کوچک تولید شده است. ابعاد و وزن کم آن، جابه‌جایی این وسیله و استفاده
                طولانی‌مدت
                از آن را آسان می‌کند و باعث خستگی گوش‌ها نخواهد شد. این مدل برای اتصال
                به
                دستگاه‌ به بلوتوث نسخه 5.0 مجهز شده است و در مدت زمان اندکی، اتصال با
                گوشی
                موبایل اندروید یا ios شما برقرار خواهد شد. هدفون بی سیم K55 دارای یک
                میکروفون با
                کیفیت است و این ویژگی، آن را برای مکالمه مناسب می‌سازد. از ویژگی‌های
                اصلی این
                محصول محفظه نگهدارنده یا همان کیس آن است. این کیس قابلیت شارژ هدفون را
                دارد.
                برای شارژ آن کافی است از درگاه USB-C تعبیه شده بر روی کیس و کابل شارژ
                درون
                بسته‌بندی استفاده کنید. گفتنی است باتری 400 میلی‌آمپر ساعتی این هدفون در
                حدود
                4-6 ساعت مکالمه و 4-6 ساعت پخش موسیقی را پاسخ‌گو خواهد بود.
            </div>
            <!-- پایان متن بیشتر -->
        </div>
        <!-- پایان والد بیشتر کمتر -->
        <label for="readMore3" class="read-more-trigger"></label>
    </div>
</div>
<div class="tab-pane fade product-desc-contents" id="productDesc-pane" role="tabpanel" aria-labelledby="#productDesc">
    <div class="product-desc-content">
        <input type="checkbox" class="read-more-state" id="readMore2">
        <!-- والد بیشتر ، کمتر ، تمام متن توضیحات باید داخل این تگ قرار بگیرند -->
        <div class="read-more-wrap">
            <h2 class="title gold mb-2">طراحی و کیفیت ساخت گوشی شیائومی ردمی 9A</h2>
            <p>به عنوان گوشی‌ای که قیمت خیلی زیادی ندارد، باید به این موضوع اشاره
                کنیم که
                داخل بسته بندی Redmi 9A آیتم‌های خاصی دیده نمی شود. دفترچه راهنما،
                ابزار
                خارج کردن سیم کارت و شارژ ۱۰ واتی را به همراه کابل USB مشاهده
                می‌کنید. این
                گوشی شیائومی در ابعاد ۱۶۴.۹ در ۷۷.۱ در ۹ میلی متر ساخته شده و وزن آن هم
                ۱۹۶ گرم
                است. در حال کلی باید به این موضوع اشاره کنیم که این گوشی خیلی خوب در دست
                قرار
                میگیرد. قاب این گوشی بافت جالب توجهی دارد و به همین دلیل خیلی خوب داخل
                دست قرار
                میگیرد. البته باید به این موضوع اشاره کنیم که قاب پشتی گوشی خیلی زود اثر
                انگشت
                را به خود جلب می‌کند. قاب پشتی که به صورت مات طراحی شده میزبان
                دوربین‌های پشت است و به جز دوربین‌ها چیزی روی آن قرار نگرفته
                است. به
                همین دلیل گوشی بسیار ساده به نظر می‌رسد. زمانی که به گوشی نگاه
                می‌کنید، متوجه می‌شوید که صفحه نمایش آن حاشیه‌های بسبتا
                بزرگی
                دارد.</p>
            <!-- متن بیشتر -->
            <div class="read-more-target">
                <p>البته که با توجه به قیمت ارزان این گوشی نیاید انتظار زیادی از این
                    محصول داشته
                    باشید. روی صفحه نمایش ناچ قطره‌ ای قرار گرفته که داخل آن دوربین
                    سلفی
                    دیده
                    می‌شود. روی لبه بالای گوشی جک ۳.۵ میلی صدا قرار گرفته و روی لبه
                    پایین
                    هم
                    پورت micro-USB و اسپیکر گوشی &nbsp;و میکروفن را مشاهده می‌کنید.
                    خیلی
                    دوست
                    داشتیم که روی این گوشی پورت USB C مشاهده می کردیم. روی لبه سمت چپ
                    گوشی محل
                    قرار
                    گرفتن سیم کارت و کارت حافظه را مشاهده می‌کنید. همچنین باید به
                    این موضوع
                    اشاره کنیم که این گوشی در سه رنگ آبی و سبز و مشکی راهی بازار شده
                    است.</p>
                <p>&nbsp;</p>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A-2.jpg"
                                                  alt="گوشی موبایل شیائومی مدل Redmi 9A"></figure>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">صفحه نمایش شیائومی ردمی 9a</h2>
                <p>برای گوشی Redmi 9A از صفحه نمایش ۶.۵ اینچی با وضوح HD+ یا ۷۲۰ در ۱۶۰۰
                    پیکسل
                    استفاده شده است. صفحه نمایشی که تراکم پیکسلی آن به ۲۶۹ پیکسل در هر
                    اینچ
                    می‌رسد. صفحه نمایش عملکرد خوبی در محیط‌های داخلی دارد، اما
                    در زیر
                    نور
                    خورشید نظر شما را به خود جلب نمی‌کند. چرا که روشنایی گوشی زیاد
                    نیست.
                    صفحه
                    نمایش رنگ‌ها را خوب نشان می‌دهد، اما عالی نیست. البته که
                    در
                    تنظیمات
                    گوشی می‌توانید حالت نمایش رنگ‌ها را تغییر دهید، اما این
                    موضوع هم
                    باعث
                    نمی‌شود که رنگ‌ها بهتر نشان داده شوند. رابط کاربری MIUI
                    همیشه
                    یکسری
                    ویژگی‌های خاص و جذاب را پیش روی کاربران قرار می‌دهد و این
                    اتفاق را
                    روی
                    این گوشی ارزان قیمت هم مشاهده می‌کنیم. به طور مثال روی صفحه
                    نمایش LCD
                    این
                    گوشی حالت مطالعه و حتی دارک مود هم در نظر گرفته شده است. این
                    ویژگی‌ها
                    باعث
                    می‌شوند که بتوانید بهتر با گوشی کار کنید. در حالت کلی باید
                    بگوییم که
                    صفحه
                    نمایش در انجام فعالیت‌های معمولی عملکرد خوبی دارد و به نیاز شما
                    پاسخ
                    می‌دهد.</p>
                <p>&nbsp;</p>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%D8%B5%D9%81%D8%AD%D9%87-%D9%86%D9%85%D8%A7%DB%8C%D8%B4-%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A.jpg"
                                                  alt="نمایشگر گوشی موبایل شیائومی مدل Redmi 9A"></figure>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">اسپیکر شیائومی 9A</h2>
                <p>تنها یک اسپیکر روی این گوشی قرار دارد که به وظیفه خودش به خوبی عمل
                    می‌کند.
                    میکروفن کوچکی روی این محصول قرار گرفته که حجم صدای خیلی زیادی تولید
                    نمی کند،
                    اما
                    کیفیت مناسبی دارد. این اسپیکر در زمان پخش موسیقی&nbsp; و تماشای
                    ویدیوهای
                    مختلف
                    عملکرد قابل قبولی دارد. این گوشی جک ۳.۵ میلی متری خروجی صدا هم دارد
                    و
                    می‌توانید از هدفون‌های مختلف روی این محصول استفاده کنید.
                    با
                    استفاده از
                    هدفون به رادیو هم دسترسی خواهید داشت.</p>
                <p>&nbsp;</p>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%D8%B3%DB%8C%D8%B3%D8%AA%D9%85-%D8%AA%D8%B4%D8%AE%DB%8C%D8%B5-%DA%86%D9%87%D8%B1%D9%87-%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A.jpg"
                                                  alt="سیستم تشخیص چهره گوشی موبایل شیائومی مدل Redmi 9A">
                </figure>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">نرم افزار و رابط کاربری ردمی 9A</h2>
                <p>گوشی Redmi 9A با رابط کاربری MIUI 12.5 و اندروید ۱۰ راهی بازار شده
                    است و تا
                    به
                    امروز به روزرسانی های نرم افزاری مختلفی هم دریافت کرده است. یکی از
                    خوبی های
                    شیائومی این است که از نظر نرم افزاری برای گوشی های ارزان قیمت خودش
                    کم کاری
                    نمی‌کند. دقیقا ویزگی هایی نرم افزاری ای روی این گوشی قرار گرفته
                    اند روی
                    گوشی های گران قیمت تر شیائومی هم دیده می‌شوند. رابط کاربری
                    Redmi 9A
                    امکان
                    شخصی سازی زیادی را پیش روی کاربران قرار می‌دهد و تنظیمات بسیار
                    زیادی هم
                    دارد. استفاده از اندروید ۱۰ باعث شده که این گوشی ویژگی دارک مود
                    داشته باشد و
                    گوگل اسیستنت هم روی آن فعال باشد. رابط کاربری گوشی هم بسیار نرم و
                    روان اجرا
                    می‌شود. در رابط کاربری گوشی پوشه‌ای به نام Tools را مشاهده
                    می‌کنید. این پوشه شامل ماشین حساب، رادیو FM و ضبط کننده صفحه
                    نمایش،
                    اسکنر و
                    اپلیکیشن های کاربردی دیگر می‌شود. یکسری از اپلیکیشن ها به صورت
                    پیش فرض
                    روی
                    این گوشی نصب شده اند و می‌توانید آن ها را حذف کنید.</p>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">سخت افزار و عملکرد Redmi 9A</h2>
                <p>گوشی Redmi 9A با تراشه مدیاتک Helio G25 راهی بازار شده که هشت هسته
                    دارد. سه
                    گیگابایت رم و ۳۲ گیگابایت حافظه داخلی هم برای این محصول در نظر گرفته
                    شده
                    است.&nbsp; البته اگر به فضای بیشتری برای ذخیره کردن اطلاعات نیاز
                    داشتید،
                    می‌توانید از کارت حافظه استفاده کنید. باید به این موضوع اشاره
                    کنیم که
                    این
                    گوشی محصول قدرتمندی نیست و نباید از آن انتظار داشته باشید که بتواند
                    بازی‌های جدید را اجرا کند یا از پس پردازش‌های سنگین بر
                    بیاید. گوشی
                    Redmi 9A برای فعالیت‌های معمولی ساخته شده است. این گوشی برای
                    ارسال پیام
                    کوتاه، تماس، ارسال ایمیل، وب گردی و حتی تماشای ویدیو مناسب خواهد
                    بود. در
                    زمان
                    انجام چنین کارهایی اصلا لگ یا کندی سرعت مشاهده نمی‌کنید. البته
                    در زمان
                    عوض
                    کردن اپلیکیشن‌ها کمی لگ را مشاهده می‌کنید. در زمان اجرای
                    بازی هم
                    عملکرد گوشی به شدت کند می‌شود. این گوشی اصلا برای اجرای
                    بازی‌هایی
                    مانند Call of Duty و PUBG مناسب نیست. البته برخی از بازیهای سبک را
                    می‌توانید با این گوشی تجربه کنید. داشتن تنها ۲ گیگابایت رم باعث
                    شده که
                    سرعت
                    Redmi 9A خیلی زیاد نباشد. البته که قیمت گوشی ارزان است و این قیمت
                    باعث شده
                    که
                    سخت افزار قوی تری روی آن قرار نگیرد. این قیمت ارزان باعث شده که روی
                    Redmi 9A
                    خبری هم از حسگر تشخیص اثر انگشت نباشد.</p>
                <p>&nbsp;</p>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%D9%BE%D8%B1%D8%AF%D8%A7%D8%B2%D9%86%D8%AF%D9%87-%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A-1.jpg"
                                                  alt="پردازنده گوشی موبایل شیائومی مدل Redmi 9A"></figure>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">باتری شیائومی 9A</h2>
                <p>شیایومی باتری بسیار قدرتمندی را روی Redmi 9A قرار داده است. این گوشی
                    باتری
                    ۵۰۰۰
                    میلی امپر ساعتی دارد و به راحتی یک روز و حتی بیشتر هم دوام
                    می‌آورد. در
                    تست
                    هایی که انجام دادیم متوجه شدیم که ۷ تا ۸ ساعت ان هم بی وقفه صفحه
                    نمایش روشن
                    می‌ماند. پس با خیال راحت می‌توانید یک روز و حتی بیشتر هم
                    از گوشی
                    استفاده کنید. در تنظیمات گوشی حالتی به نام Ultra Power در نظر گرفته
                    شده که
                    باعث
                    می‌شود بیشتر از گوشی ردمی 9A و ظرفیت باتری استفاده کنید. این
                    حالت
                    بسیاری از
                    کارکردهای گوشی را محدود می‌کند و به همین دلیل باتری مدت زمان
                    بیشتری
                    می‌تواند گوشی را روشن نگه دارد. البته این باتری ۵۰۰۰ میلی امپر
                    ساعتی
                    تنها
                    با شارژر ۱۰ وات راهی بازار شده است. به همین دلیل شارژ شدن کامل باتری
                    کمی
                    طولانی
                    است. به طور مثال برای شارژ کردن کامل باتری از ۰ تا ۱۰۰ درصد سه ساعت
                    طول
                    می‌کشد.</p>
                <p>&nbsp;</p>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%D8%A8%D8%A7%D8%AA%D8%B1%DB%8C-%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A.jpg"
                                                  alt="باتری و اسپیکر گوشی موبایل شیائومی مدل Redmi 9A"></figure>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">بررسی دوربین شیائومی ردمی 9a</h2>
                <figure class="image-center"><img class="aligncenter"
                                                  src="https://www.technolife.ir/media/editor_uploads/%D8%AF%D9%88%D8%B1%D8%A8%DB%8C%D9%86-%DA%AF%D9%88%D8%B4%DB%8C-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-%D8%B4%DB%8C%D8%A7%D8%A6%D9%88%D9%85%DB%8C-%D9%85%D8%AF%D9%84-Redmi-9A.jpg"
                                                  alt="دوربین گوشی موبایل شیائومی مدل Redmi 9A"></figure>
                <p>&nbsp;</p>
                <p>برای گوشی Redmi 9A از یک دوربین ۱۴ مگاپیکسلی با فلش LED استفاده شده
                    است.
                    دوربین
                    سلفی هم حسگر ۵ مگاپیکسلی دارد. از آنجایی که با یک گوشی ارزان قیمت سر
                    و کار
                    داریم، دوربین عملکرد شگفت انگیزی ندارد. در نور روز دوربین عکس هایی
                    ثبت
                    می‌کند که جزییات مناسبی دارند و رنگ ها هم نسبتا دقیق ثبت
                    می‌شوند.
                    عکس‌هایی که دوربین اصلی ثبت می‌کند، دامنه داینامیکی چندان
                    خوبی
                    ندارند
                    و در زمانی که حالت HDR روشن می‌کنید، کمی طول میکشد که عکس ها
                    پردازش
                    شوند.
                    اگر نورمناسبی داشته باشید، عملکرد دوربین سلفی بد نیست و حتی بهتر از
                    چیزی است
                    که
                    تصور می‌کردیم.&nbsp; حالت عکاسی پرتره هم برای این گوشی در نظر
                    گرفته شده
                    که
                    یک ویژگی خوب برای این گوشی ارزان قیمت به حساب می آید. باید بگوییم که
                    روی این
                    گوشی خبری از حالت عکاسی در شب نیست. با دوربین پشت می‌توانید
                    ویدئوهایی
                    با
                    وضوح Full HD و نرخ ۳۰ فریم بر ثانیه ضبط کنید. دوربین از فوکوس نسبتا
                    سریعی هم
                    برخوردار است.</p>
                <p>&nbsp;</p>
                <h2 class="title gold mb-2">جمع بندی</h2>
                <p>به عنوان یک گوشی ارزان قیمت واقعا با محصول خوش ساخت و قابل قبولی سر و
                    کار
                    دارید.
                    باتری فوق العاده از ویژگی های جذاب این گوشی به حساب می‌آید.
                    صفحه نمایش
                    هم
                    نظر شما را به خود جلب می‌کند و تنها دوربین پشت این گوشی هم نیاز
                    شما را
                    برطرف خواهد کرد. این گوشی برای استفاده‌های معمولی بسیار مناسب
                    است.</p>
                <p>&nbsp;</p>
                <h3 class="title gold mb-2">سوالات متداول</h3>
                <p><strong>ظرفیت باتری Redmi 9A چقدر است؟</strong> این گوشی یک باتری
                    ۵۰۰۰
                    میلی‌آمپر ساعتی دارد.</p>
                <p><strong>کیفیت دوربین Redmi 9A چقدر است؟</strong> این گوشی تنها یک
                    دوربین پشت
                    با
                    حسگر ۱۳ مگاپیکسلی دارد.</p>
            </div>
            <!-- پایان متن بیشتر -->
        </div>
        <!-- پایان والد بیشتر کمتر -->
        <label for="readMore2" class="read-more-trigger"></label>
    </div>
</div>
<div class="tab-pane fade" id="productTable-pane" role="tabpanel" aria-labelledby="#productTable">
    <div class="tab-pane fade active show" id="productTable-pane1" role="tabpanel" aria-labelledby="#productTable">
        <h4 class="fw-bold mt-3 text-muted-2">مشخصات فنی</h4>
        <span class="text-muted font-14 mt-2 d-block">HBQ-I7 Bluetooth Handsfree</span>
        <div class="box_list mt-4">
            <p class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                    </path>
                </svg>
                مشخصات کلی
            </p>
            <div>
                <ul class="param_list list-inline">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت پخش موسیقی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                دارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت کنترل صدا و موزیک
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                راهنمایی صوتی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box_list mt-4">
            <p class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                    </path>
                </svg>
                مشخصات کلی
            </p>
            <div>
                <ul class="param_list list-inline">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت پخش موسیقی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                دارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت کنترل صدا و موزیک
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                راهنمایی صوتی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box_list mt-4">
            <p class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                    </path>
                </svg>
                مشخصات کلی
            </p>
            <div>
                <ul class="param_list list-inline">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت پخش موسیقی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                دارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت کنترل صدا و موزیک
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                راهنمایی صوتی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box_list mt-4">
            <p class="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                    <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z">
                    </path>
                </svg>
                مشخصات کلی
            </p>
            <div>
                <ul class="param_list list-inline">
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت پخش موسیقی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                دارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                قابلیت کنترل صدا و موزیک
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-3 pe-md-1 pe-md-3 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom1">
                                راهنمایی صوتی
                            </p>
                        </div>
                    </li>
                    <li class="list-inline-item col-md-8 p-0 m-0">
                        <div class="box_params_list">
                            <p class="block border_right_custom2">
                                ندارد
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade product-comment-content active show" id="productComment-pane" role="tabpanel"
     aria-labelledby="#productComment">

    <div class="comment-form py-20">
        <h6 class="font-16">نظرت در مورد این محصول چیه؟</h6>
        <p class="font-14 text-muted mt-2">برای ثبت نظر، از طریق دکمه افزودن دیدگاه جدید
            نمایید. اگر این محصول را قبلا خریده باشید، نظر شما به عنوان خریدار ثبت خواهد
            شد.</p>
        <div class="row gy-4">
            <div class="col-md-4">
                <div class="product-rateing position-sticky top-0">
                    <div class="row gy-2 align-items-center">
                        <div class="number">
                            <p class="font-14 text-muted">متوسط امتیاز ها</p>
                            <h2>3.00</h2>
                            <div class="star">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star"></i>
                            </div>
                        </div>
                        <div class="prog-rating">
                            <div class="item w-100 mb-2">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="font-14">5 ستاره</span>
                                    <div class="progress flex-grow-1 mx-2" style="height: 7px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-14">0</span>
                                </div>
                            </div>
                            <div class="item w-100 mb-2">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="font-14">5 ستاره</span>
                                    <div class="progress flex-grow-1 mx-2" style="height: 7px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-14">0</span>
                                </div>
                            </div>
                            <div class="item w-100 mb-2">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="font-14">5 ستاره</span>
                                    <div class="progress flex-grow-1 mx-2" style="height: 7px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-14">0</span>
                                </div>
                            </div>
                            <div class="item w-100 mb-2">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="font-14">5 ستاره</span>
                                    <div class="progress flex-grow-1 mx-2" style="height: 7px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-14">0</span>
                                </div>
                            </div>
                            <div class="item w-100">
                                <div class="d-flex align-items-center flex-wrap">
                                    <span class="font-14">5 ستاره</span>
                                    <div class="progress flex-grow-1 mx-2" style="height: 7px;">
                                        <div class="progress-bar" role="progressbar" style="width: 25%"
                                             aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <span class="font-14">0</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-floating mb-3 form-group">
                            <input type="email" class="form-control" id="floatingInputEmail"
                                   placeholder="ایمیل خود را وارد کنید">
                            <label for="floatingInputEmail">ایمیل خود را وارد
                                کنید</label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-floating mb-3 form-group">
                            <input type="text" class="form-control" id="floatingInputName"
                                   placeholder="نام خود را وارد کنید">
                            <label for="floatingInputName">نام خود را وارد کنید</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="rememberComment">
                            <label for="rememberComment" class="form-check-label d-block">
                                ذخیره
                                نام، ایمیل و وبسایت من در مرورگر برای زمانی که دوباره
                                دیدگاهی می‌نویسم.
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label class="my-3">امتیاز شما</label>
                            <fieldset class="rating">
                                <input type="radio" id="star5" name="rating" value="5" required="">
                                <label for="star5">5 stars</label>
                                <input type="radio" id="star4" name="rating" value="4" required="">
                                <label for="star4">4 stars</label>
                                <input type="radio" id="star3" name="rating" value="3" required="">
                                <label for="star3">3 stars</label>
                                <input type="radio" id="star2" name="rating" value="2" required="">
                                <label for="star2">2 stars</label>
                                <input type="radio" id="star1" name="rating" value="1" required="">
                                <label for="star1">1 star</label>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                      style="height: 150px"></textarea>
                            <label for="floatingTextarea2">متن نظر!</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label for="tags-pos" class="text-success mb-2">نقاط
                                قوت</label>
                            <tags class="tagify commentTags form-control" tabindex="-1">
                                <span contenteditable="" tabindex="0" data-placeholder="با کلید اینتر اضافه کنید"
                                      aria-placeholder="با کلید اینتر اضافه کنید" class="tagify__input" role="textbox"
                                      aria-autocomplete="both" aria-multiline="false"></span>
                            </tags>
                            <input name="tags-pos" id="tags-pos" class="commentTags form-control"
                                   placeholder="با کلید اینتر اضافه کنید" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mt-3">
                            <label for="tags-neg" class="text-danger mb-2">نقاط
                                ضعف</label>
                            <tags class="tagify commentTags form-control tagify--noTags tagify--empty" tabindex="-1">
                                <span contenteditable="" tabindex="0" data-placeholder="با کلید اینتر اضافه کنید"
                                      aria-placeholder="با کلید اینتر اضافه کنید" class="tagify__input" role="textbox"
                                      aria-autocomplete="both" aria-multiline="false"></span>
                            </tags>
                            <input name="tags-neg" id="tags-neg" class="commentTags form-control"
                                   placeholder="با کلید اینتر اضافه کنید" tabindex="-1">
                        </div>
                    </div>
                    <div class="col-12">
                        <a href=""
                           class="btn border-0 main-color-three-bg my-3 mx-auto d-block waves-effect waves-light">ثبت
                            نظر</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment bg-light shadow-inner mb-4">
        <div class="title">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <div class="d-flex align-items-center">
                        <div class="avatar p-2 bg-white shadow-box rounded-circle">
                            <img src="assets/image/user-profile.png" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="d-flex flex-wrap align-items-center ms-2">
                            <h6 class="text-muted font-14">امیر رضایی</h6>
                            <h6 class="text-muted font-14 ms-2">1 دی ماه 1401</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-flex star justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc py-3">
            <p class="font-14 text-muted">
                بنده این گوشی را خریداری کردم و کاملا راضی هشتم و بهترین گارانتی را دارد
                و پلپ بود و حتما به شما هم پیشنهاد می نمایم که چنانچه قصد خرید این کالا
                را دارید از دیجی کالا تهیه نمایید ؛پارت نامبر من هم سنگاپور بود که
                بهترین پارت نامبر در بازار است و هیچ محدودیتی ندارد.
            </p>
        </div>
        <div class="foot">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="comment-rates">
                        <div class="positive rounded-4 py-md-0 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <h6 class="font-14">نقاط قوت</h6>
                                <nav class="navbar navbar-expand positive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item ps-md-2 ps-0"><span class="nav-link font-14">جنس بدنه</span>
                                        </li>
                                        <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                تصویر</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                باطری</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                قوی</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="negitive rounded-4 mt-3 py-md-0 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <h6 class="font-14">نقاط صعف</h6>
                                <nav class="navbar navbar-expand negitive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item"><span class="nav-link font-14">جنس بدنه</span>
                                        </li>
                                        <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                تصویر</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                باطری</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                قوی</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-likes mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="right">
                                <h6 class="font-14">
                                    آیا این نظر به شما کمکی کرد؟</h6>
                            </div>
                            <div class="left mx-sm-3 mx-auto">
                                <a href=""
                                   class="btn btn-sm border-0 main-color-one-bg waves-effect waves-light text-nowrap">
                                    <span>70</span>
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </a>
                                <a href=""
                                   class="btn btn-sm border-0 main-color-two-bg ms-3 waves-effect waves-light text-nowrap">
                                    <span>70</span>
                                    <i class="bi bi-hand-thumbs-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="comment-reply">
                        <a href="" class="btn btn-sm rounded-pill main-color-two-bg px-4">پاسخ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="comment bg-light shadow-inner mb-4">
        <div class="title">
            <div class="row align-items-center">
                <div class="col-sm-10">
                    <div class="d-flex align-items-center">
                        <div class="avatar p-2 bg-white shadow-box rounded-circle">
                            <img src="assets/image/user-profile.png" alt="" class="img-fluid rounded-circle">
                        </div>
                        <div class="d-flex flex-wrap align-items-center ms-2">
                            <h6 class="text-muted font-14">امیر رضایی</h6>
                            <h6 class="text-muted font-14 ms-2">1 دی ماه 1401</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="d-flex star justify-content-end">
                        <i class="bi bi-star"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="desc py-3">
            <p class="font-14 text-muted">
                بنده این گوشی را خریداری کردم و کاملا راضی هشتم و بهترین گارانتی را دارد
                و پلپ بود و حتما به شما هم پیشنهاد می نمایم که چنانچه قصد خرید این کالا
                را دارید از دیجی کالا تهیه نمایید ؛پارت نامبر من هم سنگاپور بود که
                بهترین پارت نامبر در بازار است و هیچ محدودیتی ندارد.
            </p>
        </div>
        <div class="foot">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="comment-rates">
                        <div class="positive rounded-4 py-md-0 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <h6 class="font-14">نقاط قوت</h6>
                                <nav class="navbar navbar-expand positive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item ps-md-2 ps-0"><span class="nav-link font-14">جنس بدنه</span>
                                        </li>
                                        <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                تصویر</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                باطری</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                قوی</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="negitive rounded-4 mt-3 py-md-0 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <h6 class="font-14">نقاط صعف</h6>
                                <nav class="navbar navbar-expand negitive-nav">
                                    <ul class="navbar-nav flex-wrap">
                                        <li class="nav-item"><span class="nav-link font-14">جنس بدنه</span>
                                        </li>
                                        <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                تصویر</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                باطری</span></li>
                                        <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                قوی</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-likes mt-3">
                    <div class="col-12">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="right">
                                <h6 class="font-14">
                                    آیا این نظر به شما کمکی کرد؟</h6>
                            </div>
                            <div class="left mx-sm-3 mx-auto">
                                <a href=""
                                   class="btn btn-sm border-0 main-color-one-bg waves-effect waves-light text-nowrap">
                                    <span>70</span>
                                    <i class="bi bi-hand-thumbs-up"></i>
                                </a>
                                <a href=""
                                   class="btn btn-sm border-0 main-color-two-bg ms-3 waves-effect waves-light text-nowrap">
                                    <span>70</span>
                                    <i class="bi bi-hand-thumbs-down"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="comment-reply">
                        <a href="" class="btn btn-sm rounded-pill main-color-two-bg px-4">پاسخ</a>
                    </div>
                </div>
            </div>
            <div class="comment shadow-inner mb-4" style="background: #11c56b1f;">
                <div class="title">
                    <div class="row align-items-center">
                        <div class="col-sm-10">
                            <div class="d-flex align-items-center">
                                <div class="avatar p-2 bg-white shadow-box rounded-circle">
                                    <img src="assets/image/user-profile.png" alt="" class="img-fluid rounded-circle">
                                </div>
                                <div class="d-flex flex-wrap align-items-center ms-2">
                                    <h6 class="text-muted font-14">امیر رضایی</h6>
                                    <h6 class="text-muted font-14 ms-2">1 دی ماه 1401
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="d-flex star justify-content-end">
                                <i class="bi bi-star"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="desc py-3">
                    <p class="font-14 text-muted">
                        بنده این گوشی را خریداری کردم و کاملا راضی هشتم و بهترین گارانتی
                        را دارد
                        و پلپ بود و حتما به شما هم پیشنهاد می نمایم که چنانچه قصد خرید
                        این کالا
                        را دارید از دیجی کالا تهیه نمایید ؛پارت نامبر من هم سنگاپور بود
                        که
                        بهترین پارت نامبر در بازار است و هیچ محدودیتی ندارد.
                    </p>
                </div>
                <div class="foot">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="comment-rates">
                                <div class="positive rounded-4 py-md-0 py-3">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <h6 class="font-14">نقاط قوت</h6>
                                        <nav class="navbar navbar-expand positive-nav">
                                            <ul class="navbar-nav flex-wrap">
                                                <li class="nav-item ps-md-2 ps-0"><span class="nav-link font-14">جنس
                                                                                        بدنه</span>
                                                </li>
                                                <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                        تصویر</span></li>
                                                <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                        باطری</span></li>
                                                <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                        قوی</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="negitive rounded-4 mt-3 py-md-0 py-3">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <h6 class="font-14">نقاط صعف</h6>
                                        <nav class="navbar navbar-expand negitive-nav">
                                            <ul class="navbar-nav flex-wrap">
                                                <li class="nav-item"><span class="nav-link font-14">جنس
                                                                                        بدنه</span>
                                                </li>
                                                <li class="nav-item"><span class="nav-link font-14">کیفیت
                                                                                        تصویر</span></li>
                                                <li class="nav-item"><span class="nav-link font-14">شارژ
                                                                                        باطری</span></li>
                                                <li class="nav-item"><span class="nav-link font-14">دوربین
                                                                                        قوی</span></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-likes mt-3">
                            <div class="col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="right">
                                        <h6 class="font-14">
                                            آیا این نظر به شما کمکی کرد؟</h6>
                                    </div>
                                    <div class="left mx-sm-3 mx-auto">
                                        <a href=""
                                           class="btn btn-sm border-0 main-color-one-bg waves-effect waves-light text-nowrap">
                                            <span>70</span>
                                            <i class="bi bi-hand-thumbs-up"></i>
                                        </a>
                                        <a href=""
                                           class="btn btn-sm border-0 main-color-two-bg ms-3 waves-effect waves-light text-nowrap">
                                            <span>70</span>
                                            <i class="bi bi-hand-thumbs-down"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="comment-reply">
                                <a href="" class="btn btn-sm rounded-pill main-color-two-bg px-4">پاسخ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

